/**
 * @constant
 * @name CONFIG
 * @description all constants for the application to use
 */
var CONFIG = {
  CMS_URL: "{{CMS_URL}}",                                           // Used for endpoints to CMS
  DIO_API_URL: "{{DIO_API_URL}}",                                   // Used for the multi management tool
  ECOM_URL: "{{ECOM_URL}}",                                         // Used for the e-commerce platform
  AVAILABLE_BRANDS: [{'label': 'Maxi-Cosi', 'value': 0}, {'label': 'Dorel', 'value': 1}, {'label': 'Quinny', 'value': 2}],   // Available brands to pick from
  SELECTED_BRAND: {{SELECTED_BRAND}},                               // Selects a brand from AVAILABLE_BRANDS
  LOCALE: {
    COUNTRY_NAME: '{{COUNTRY_NAME}}',
    COUNTRY_CODE: '{{COUNTRY_CODE}}',
    LANGUAGE: '{{LANG}}',
    LANG_CONTENT: '{{LOCALE}}',
    LINK_ALT: '{{ALT_LINK}}'
  },
};
