/**
 * @constant
 * @name CONFIG
 * @description all constants for the application to use
 */
var CONFIG = {
  CMS_URL: "{{CMS_URL}}",                                           // Used for endpoints to CMS
  DIO_API_URL: "{{DIO_API_URL}}",                                   // Used for the multi management tool
  ECOM_URL: "{{ECOM_URL}}",                                         // Used for the e-commerce platform
  AVAILABLE_BRANDS: [
    {
      'label': 'Maxi-Cosi',
      'value': 0
    },
    {
      'label': 'Dorel',
      'value': 1
    },
    {
      'label': 'Quinny',
      'value': 2
    },
    {
      'label': 'Bebe-Confort',
      'value': 3
    }
  ],   // Available brands to pick from
  SELECTED_BRAND: {{SELECTED_BRAND}},                               // Selects a brand from AVAILABLE_BRANDS
  LOCALE: {
    COUNTRY_NAME: '{{COUNTRY_NAME}}',
    COUNTRY_CODE: '{{COUNTRY_CODE}}',
    CODE: '{{WPML_CODE}}',
    LANGUAGE: '{{LANG}}',
    LANG_CONTENT: '{{LOCALE}}',
    LINK_ALT: '{{ALT_LINK}}'
  },
  BYNDER_API_URL: '{{BYNDER_API_URL}}',
  BYNDER_CONSUMER_KEY: '{{BYNDER_CONSUMER_KEY}}',
  BYNDER_CONSUMER_KEY_SECRET: '{{BYNDER_CONSUMER_KEY_SECRET}}',
  BYNDER_TOKEN_KEY: '{{BYNDER_TOKEN_KEY}}',
  BYNDER_TOKEN_KEY_SECRET: '{{BYNDER_TOKEN_KEY_SECRET}}',
  BYNDER_DEFAULT_IMAGE: '7F84BD5F-551A-4DA5-8532AB44763439AA',      // Maxi-Cosi
  //BYNDER_DEFAULT_IMAGE: '474A334E-824D-467E-99499158B16970FE'     // Quinny
};
