<link rel="import" href="component-guide/dorel-component-guide-buttons.html">
<link rel="import" href="component-guide/dorel-component-guide-colors.html">
<link rel="import" href="component-guide/dorel-component-guide-forms.html">
<link rel="import" href="component-guide/dorel-component-guide-introduction.html">
<link rel="import" href="component-guide/dorel-component-guide-layout.html">
<link rel="import" href="component-guide/dorel-component-guide-typography.html">
<link rel="import" href="component-guide/dorel-component-guide-colors.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../themes/theme-maxi-cosi-new.html">

<dom-module id="dorel-template-component-guide">
  <template>
    <style include="theme-maxi-cosi-new">
      :host {
        display: block;
        float: left;
        width: 100%;
      }

      paper-item:after, paper-item:before {
        background-color: white !important;
      }

      paper-item:hover {
        color: var(--theme-brand-color);
      }

      paper-item {
        cursor: pointer;
        @apply(--theme-ie-bodycopy);
        border-left: var(--theme-scale-1) solid transparent;
        padding: 0 1rem;
        transition: color .3s ease, border-left .3s ease;

        --paper-item-selected: {
          background: transparent;
          font-weight: normal;
          border-left: var(--theme-scale-1) solid var(--theme-brand-color);
          font-weight: normal !important;
          color: var(--theme-brand-color);
        };
      }

      paper-menu {
        background-color: transparent;
        padding: 0;
      }

      paper-toggle-button {
        @apply(--theme-ie-bodycopy);
        padding: calc(var(--theme-scale-1) * 7);
        cursor: pointer;
      }

      .component-guide {
        position: relative;
        float: left;
        width: 100%;
      }

      .component-guide__sidebar, .component-guide__content {
        display: inline-block;
        float: left;
        box-sizing: border-box;
      }

      .component-guide__sidebar {
        width: 200px;
        background-color: transparent;
        padding-top: var(--theme-scale-3);

      }

      .component-guide__content {
        padding: var(--theme-scale-3) var(--theme-scale-3) var(--theme-scale-5) var(--theme-scale-3);
        width: calc(100% - 200px);
        min-height: calc(100vh - 112px);
      }

      .component-guide__vertical-rhythm {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        z-index: -1;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAYCAYAAADQ+yzZAAAAF0lEQVQYV2NkgALG4cEoLy//39nZyQgAHvQEGSEIElQAAAAASUVORK5CYII=);
        transition: opacity .5s ease;
      }

      .component-guide__vertical-rhythm[shown] {
        opacity: 1;
      }

      .component-guide__toolbar {
        position: absolute;
        right: 0;
      }
    </style>

    <!-- define routing for products -->

    <app-route
      route="{{ route }}"
      pattern="/:componentName"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <div class="component-guide">
      <div class="component-guide__toolbar">
        <paper-toggle-button noink checked="{{ verticalRhythm }}">
          Vertical Rhythm
        </paper-toggle-button>
      </div>

      <div class="component-guide__vertical-rhythm" shown$="[[ verticalRhythm ]]"></div>
      <div class="component-guide__sidebar">
        <paper-menu selected="{{ routeData.componentName }}"
                    attr-for-selected='name'>
          <paper-item name="introduction">Introduction</paper-item>
          <paper-item name="typography">Typography</paper-item>
          <paper-item name="layout-sizes">Layout & Sizes</paper-item>
          <paper-item name="colors">Colors</paper-item>
          <paper-item name="buttons">Buttons</paper-item>
          <paper-item name="forms">Forms</paper-item>
        </paper-menu>
      </div>
      <iron-pages class="component-guide__content"
                  selected="{{ routeData.componentName }}"
                  fallback-selection="introduction"
                  attr-for-selected="name">
        <dorel-component-guide-introduction name="introduction"></dorel-component-guide-introduction>
        <dorel-component-guide-typography name="typography"></dorel-component-guide-typography>
        <dorel-component-guide-layout name="layout-sizes"></dorel-component-guide-layout>
        <dorel-component-guide-colors name="colors"></dorel-component-guide-colors>
        <dorel-component-guide-buttons name="buttons"></dorel-component-guide-buttons>
        <dorel-component-guide-forms name="forms"></dorel-component-guide-forms>
      </iron-pages>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-component-guide',
      properties: {
        verticalRhythm: {
          type: Boolean,
          value: false,
        }
      }
    });
  </script>
</dom-module>
