<link rel="import" href="../organisms/dorel-section-product-accessories.html">
<link rel="import" href="../organisms/dorel-section-product-accordions.html">
<link rel="import" href="../organisms/dorel-section-product-features.html">
<link rel="import" href="../organisms/dorel-section-header.html">
<link rel="import" href="../organisms/dorel-section-product-showcase.html">
<link rel="import" href="../organisms/dorel-section-product-video.html">
<link rel="import" href="../organisms/dorel-section-product-usps.html">

<link rel="import" href="../utils/dorel-magento-collect-product.html">
<link rel="import" href="../utils/dorel-magento-collect-related-product.html">
<link rel="import" href="../utils/dorel-magento-collect-usp.html">
<link rel="import" href="../utils/dorel-magento-collect-features.html">
<link rel="import" href="../utils/dorel-magento-collect-accordion.html">

<dom-module id="dorel-template-product-detail">
  <template>
    <style>
      :root {
        /* Override the default background-color for the multi sections */
        --theme-multi-background-color: var(--theme-color-background-tertiary);
        --theme-multi-no-background-color: transparent;
        --theme-multi-bottom-padding: var(--theme-component-space-inner-xlarge);
        float: left;
        width: 100%;
      }

      .wrapper {
        opacity: 0; /* make things invisible upon start */
        -webkit-animation: fadeIn ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease 1;
        animation: fadeIn ease 1;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: .1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @-moz-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      dorel-layout-section dorel-page-builder {
        width: 100%;
        display: flex;
      }
    </style>

    <dorel-magento-collect-product
      category="[[ category ]]"
      product-name="[[ routeData.productName ]]"></dorel-magento-collect-product>

    <dorel-magento-collect-related-product
      id="relatedProducts"
      category="[[ category ]]"
      product-names="[[ product.relatedProducts ]]"
      related-products="{{ relatedProducts }}">
    </dorel-magento-collect-related-product>

    <dorel-magento-collect-usp
      product-id="[[ product.id ]]"
      usp-data="{{ uspData }}"></dorel-magento-collect-usp>

    <dorel-magento-collect-features
      product-id="[[ product.id ]]"
      features-data="{{ featuresData }}"></dorel-magento-collect-features>

    <dorel-magento-collect-accordion
      product-id="[[ product.id ]]"
      accordion-data="{{ accordionData }}"></dorel-magento-collect-accordion>

    <!-- define routing for products -->
    <app-route
      route="{{ route }}"
      pattern="/:productName"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <div class="wrapper">

      <template is="dom-if"
        if="[[ _isProductSet(product, loaded) ]]">
        <template
          is="dom-if"
          if="[[ product.header_section ]]">
          <dorel-section-header
            section-header-data="[[ product.header_section ]]"
            gtm-parent="dorel-section-header"
            gtm-parent-index="[[ index ]]"></dorel-section-header>
        </template>

        <dorel-section-product-showcase
          accessory-scroll-handler="{{ accessoryScrollHandler }}"
          showcase-data="[[ product ]]"
          gtm-parent="dorel-section-product-showcase"
          gtm-parent-index="[[ index ]]"></dorel-section-product-showcase>

        <template
          is="dom-if"
          if="[[ uspData.usps.length ]]">
          <dorel-section-product-usps
            usps-data="[[ uspData ]]"
            gtm-parent="dorel-section-product-usps"
            gtm-parent-index="[[ index ]]"></dorel-section-product-usps>
        </template>

        <template
          is="dom-if"
          if="[[ product.video_section.video_id.length ]]">
        <dorel-section-product-video
          video-data="[[ product.video_section ]]"
          gtm-parent="dorel-section-product-video"
          gtm-parent-index="[[ index ]]"></dorel-section-product-video>
        </template>

        <template
          is="dom-if"
          if="[[ featuresData.features.length > 1 ]]">
          <dorel-section-product-features
            features-data="[[ featuresData ]]"
            gtm-parent="dorel-section-product-features"
            gtm-parent-index="[[ index ]]"></dorel-section-product-features>
        </template>

        <template
          is="dom-if"
          if="[[ relatedProducts.accessories.length ]]">
          <dorel-section-product-accessories
            accessory-scroll-handler="{{ accessoryScrollHandler }}"
            accessories-data="[[ relatedProducts ]]"
            accessories-options="[[ product.related_product_section ]]"
            gtm-parent="dorel-section-product-accessories"
            gtm-parent-index="[[ index ]]"></dorel-section-product-accessories>
        </template>

        <template
          is="dom-if"
          if="[[ accordionData ]]">
          <dorel-section-product-accordions
            accordions-data="[[ accordionData ]]"
            gtm-parent="dorel-section-product-accordions"
            gtm-parent-index="[[ index ]]"></dorel-section-product-accordions>
        </template>

        <!-- <dorel-section-slideshow
          slideshow-data="[[ component ]]"
          gtm-parent="dorel-section-slideshow"
          gtm-parent-index="[[ index ]]"></dorel-section-slideshow> -->
      </template>

    </div>

  </template>

  <script>
    Polymer({
      is: 'dorel-template-product-detail',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: String
        },

        /**
         * @name routeData
         * @description the route data contains the last segment under productName
         */
        routeData: {
          type: Object
        },

        /**
         * @name accessoryScrollHandler
         * @description the offset to the accessory section
         **/
        accessoryScrollHandler: {
          type: Boolean,
          notify: true,
          value: false,
        },

        /**
         * @attribute
         * @name category
         * @description the category that will be used by product-collect
         */
        category: {
          type: Number,
          value: 0
        },

        /**
         * @attribute
         * @name colorMap
         * @description the colorMapping that will be used by product-collect
         */
        colorMap : {
          type: Array
        },

        /**
         * @attribute
         * @name relatedProducts
         * @description Array of strings with the relatedProducts
           will be used by the collect-related-product
         */
        relatedProducts: {
          type: Array
        },

        /**
         * @attribute
         * @name loaded
         * @description a Boolean that will be used to show or hide the page
         */
        loaded: {
          type: Boolean,
          value: false
        }
      },

      observers: [
        '_setCurrentProduct(globals.Dorel.current.product)',
        '_getRelatedProducts(product, relatedProducts)'
      ],

      /**
       * @name _isProductSet
       * @description will be used by the template
       * returns a Boolean that either hide or shows the page
       * @param product - Object
       * @param loaded - Boolean
       */
      _isProductSet: function(product, loaded) {
          return (product && loaded) ? true : false;
      },

      /**
       * @name _setCurrentProduct
       * @description will be called by observer if currentProduct changes
       * if currentProduct is empty it will set loaded to false
       * else it will set the product with the first Object from the currentProduct Array
       * and set loaded to true
       * @param currentProduct - Array
       */
      _setCurrentProduct: function(currentProduct) {
        if(!currentProduct || !currentProduct.length) {
          this.loaded = false;
          return;
        }
        this.product = currentProduct[0];
        this.loaded = true;
      },

      /**
       * @name _getRelatedProducts
       * @description will be called by observer if product changes
       * if product is empty or product does not have any relatedProducts it will early return
       * else it will call the getRelatedProducts from the relatedProducts collect element
       * @param product - Object
       */
      _getRelatedProducts: function(product) {
        if(!product || !product.relatedProducts || !product.relatedProducts.length) {
          // reset the relatedProducts
          this.$.relatedProducts.getRelatedProducts(product.category, []);
          return;
        }
        this.$.relatedProducts.getRelatedProducts(product.category, product.relatedProducts);
      }

    });
  </script>
</dom-module>
