<link rel="import" href="../organisms/store-locator/dorel-section-store-locator.html">

<dom-module id="dorel-template-store-locator">
  <template>

    <template
      is="dom-if"
      if="[[templateData.acf.hero_header.length]]">
      <dorel-section-header
        section-header-data="[[heroHeader]]"
        text-header="true"></dorel-section-header>

      <dorel-section-page-nav
        breadcrumbs-toggle="true"></dorel-section-page-nav>
    </template>

    <dorel-section-store-locator
      template-data="[[ templateData ]]"
      gtm-parent="dorel-section-store-locator"
      gtm-parent-index="0"></dorel-section-store-locator>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-store-locator',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description all data needed to build up a certain component
         */
        templateData: {
          type: Object,
          value: function () {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeaderData: Object
      },

      behaviors: [TemplateBehaviors, DorelMultilingualBehavior]
    });
  </script>
</dom-module>
