<link rel="import" href="../organisms/dorel-section-hero-header.html">
<link rel="import" href="../organisms/dorel-section-text-image-block.html">
<link rel="import" href="../organisms/dorel-section-feature-block.html">

<dom-module id="dorel-template-marketing-campaign">
  <template>
    <style>
      section {
        padding-bottom: 1.5em;
        float: left;
        width: 100%;
      }

      section[tablet-medium-up] {
        padding-bottom: 3em;
      }
    </style>

    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>

    <section tablet-medium-up$="[[ breakpoints.tabletMediumUp ]]">

      <dorel-section-hero-header
        align="left"
        hero-header-data="[[heroHeader]]"></dorel-section-hero-header>


      <!-- show when acf.page_builder has components -->
      <template
        is="dom-if"
        if="{{ templateData.acf.page_builder.length }}">

        <!-- iterate over page_builder components -->
        <template
          is="dom-repeat"
          items="[[ templateData.acf.page_builder ]]"
          as="component"
          targetFramerate="1000">

          <!-- content_block-->
          <template
            is="dom-if"
            if="[[ _isPageComponent(component.acf_fc_layout, 'content_block') ]]">
            <div class="max-width-container">
              <!-- TODO: rename this component to what it is named in WP -->
              <dorel-section-text-image-block
                block-data="[[component]]"
                component-count="[[_getComponentCount()]]"></dorel-section-text-image-block>
            </div>
          </template>
          <!--// content_block-->

          <!-- feature_block -->
          <template
            is="dom-if"
            if="[[ _isPageComponent(component.acf_fc_layout, 'feature_block') ]]">
            <div class="max-width-container">
              <!-- TODO: rename this component to what it is named in WP -->
              <dorel-section-feature-block
                block-data="[[component]]"></dorel-section-feature-block>
            </div>
          </template>
          <!--// feature_block -->

        </template><!--// dom-repeat -->

      </template><!--// dom-if page_builder.length -->

    </section><!--// section -->

  </template>

  <script>
    Polymer({
      is: 'dorel-template-marketing-campaign',

      properties: {

        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        },

        /**
         * @attribute
         * @name templateData
         * @description all data needed to build up a certain component
         */
        templateData: {
          type: Object,
          value: function() {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeader: Object,

        /**
         * @name componentCount
         * @description keeps track of a component number to change alignment
         */
        componentCount: {
          type: Number,
          value: 0
        }
      },

      behaviors: [TemplateBehaviors],

      /**
       * @name _getComponentCount
       * @description counts a certain component (content_block) to align left or right
       * in the child component
       */
      _getComponentCount: function() {
        this.set('componentCount', this.get('componentCount')+1);
        return this.componentCount;
      }

    });
  </script>
</dom-module>
