<dom-module id="dorel-template-404">
  <template>
    <style>
      :host {
        display: block;
        padding: var(--theme-component-space-inner);
      }

      .error {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
        min-height: 50vh;
      }
      .error__title {
        @apply(--theme-heading);
      }
      .error__content {
        @apply(--theme-bodycopy);

      }
    </style>
    <div class="error">
      <div>
        <h1 class="error__title">Sorry, something went wrong</h1>
        <p class="error__content">
          We are sorry! Something went wrong. Please use the menu to go back to the page you were looking for.
        </p>
        <p class="error__content">
          A message was send to the person responsible for the website to look what went wrong and to fix the issue.
        </p>
        <p class="error__content">
          Best,<br>
          The Maxi-Cosi team
        </p>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-404'
    });
  </script>
</dom-module>
