<link rel="import" href="../organisms/dorel-section-hero-header.html">
<link rel="import" href="../organisms/dorel-section-text-image-block.html">


<dom-module id="dorel-template-marketing-campaign">
  <template>


    TODO align items left, make cta-toggle and video optional
    <dorel-section-hero-header align="left" hero-header-data="[[ heroHeaderData ]]"></dorel-section-hero-header>

    <dorel-section-text-image-block block-data="[[ myBlockData ]]"></dorel-section-text-area-block>

  </template>

  <script>
    Polymer({
      is: 'dorel-template-marketing-campaign',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description all data needed to build up a certain component
         */
        templateData: {
          type: Object,
          value: function () {
            return {};
            observer: '_defineComponentModels'
          },
        },

        heroHeaderData: {
          type: Object,
          computed: 'getHeaderData(templateData)'
        }


      },

      getHeaderData: function(templateData) {

        var headerData = ( templateData.acf &&  templateData.acf.hero_header && templateData.acf.hero_header.length ) ?
          templateData.acf.hero_header[0] :
          {} ;

          // the video in a marketing campaign header is a cta_video
          headerData.cta_video_id = headerData.video_id;
          // if video_id is present we want a cta button
          headerData.cta_toggle = !!headerData.video_id;
          // cta_type can only be cta-video here, and button will not show when no id is provided
          headerData.cta_type = 'cta-video';

          return headerData;
      }
    });
  </script>
</dom-module>
