<link rel="import" href="component-guide/dorel-component-toolbar.html">
<link rel="import" href="../molecules/dorel-nav-tabs.html">
<link rel="import" href="component-guide/pages/dorel-component-guide-overview.html">
<link rel="import" href="component-guide/pages/dorel-component-guide-basic.html">
<link rel="import" href="component-guide/pages/dorel-component-guide-complex.html">

<dom-module id="dorel-template-component-guide">
  <template>
    <style>
      paper-menu {
        min-height: 3em;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:pageName"
      tail="{{ subroute }}"
      data="{{ subrouteData }}"></app-route>

    <!-- Only show toolbar when subpages are shown -->
    <template is="dom-if" if="[[ subrouteData.pageName ]]">
      <dorel-component-toolbar app-cache="[[ appCache ]]"
                               brand="{{ brand }}"
                               available-brands="{{ availableBrands }}">
      </dorel-component-toolbar>
    </template>

    <!-- Only show overview when no subpages are shown -->
    <template is="dom-if" if="[[ !subrouteData.pageName ]]">
      <dorel-component-guide-overview available-brands="[[ availableBrands ]]"></dorel-component-guide-overview>
    </template>

    <iron-pages selected="[[ subrouteData.pageName ]]"
                attr-for-selected="page">
      <dorel-component-guide-basic route="{{ subroute }}" brand="{{ brand }}"
                                   page="basic"></dorel-component-guide-basic>
      <dorel-component-guide-complex route="{{ subroute }}"
                                     page="complex"
                                     app-cache="[[ appCache ]]"></dorel-component-guide-complex>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-component-guide',
      properties: {
        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        },
        /**
         * @name brand
         * @description defines the brand
         */
        brand: {
          type: Object,
          notify: true,
          readOnly: false
        },
        /**
         * @name availableBrands
         * @description List of available brands
         */
        availableBrands: {
          type: Array,
          value: []
        }
      },
      /**
       * @name _routeChanged
       * @description Observer callback for the route.
       * Fallback for when users don't access the component with a trailing slah in the url.
       * Trailing slash is needed for navigation to subpages
       */
      /*_routeChanged: function (changedRoute) {

        if (changedRoute.path === '') {
          this.set('route.path', '/');
        }

      }*/
    });
  </script>
</dom-module>
