<link rel="import" href="../organisms/dorel-section-header.html">

<dom-module id="dorel-template-info-overview">
  <template>
    <style>
      dorel-section-cards {
        margin-top: 0;
      }

      dorel-titling {
        margin: 1.5em 0 3em 0;
        float: left;
        width: 100%;
      }

    </style>

    <!-- section-hero-header -->
    <template
      is="dom-if"
      if="[[templateData.acf.hero_header.length]]">
      <dorel-section-header
        text-header="true"
        section-header-data="[[heroHeader]]"></dorel-section-header>

      <template
        is="dom-if"
        if="[[ templateData.acf.breadcrumbs_toggle ]]">
        <dorel-section-page-nav
          breadcrumbs-toggle="[[ templateData.acf.breadcrumbs_toggle ]]"></dorel-section-page-nav>
      </template>
    </template>
    <!--// section-hero-header -->

    <dorel-layout-container>
      <dorel-titling description="[[ templateData.acf.description ]]"></dorel-titling>
      </dorel-titling>
    </dorel-layout-container>

    <!-- Section cards -->
    <template
      is="dom-if"
      if="[[sectionCards.cards.length]]">
      <dorel-section-cards
        compact="true"
        cards-data="[[sectionCards]]"></dorel-section-cards>
    </template>
    <!--// Section cards -->
  </template>

  <script>
    Polymer({
      is: 'dorel-template-info-overview',

      properties: {

        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        },

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function () {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeaderData: Object,

        /**
         * @name parentCardsData
         * @description the data model used for the cards component
         */
        sectionCards: Object

      },

      behaviors: [TemplateBehaviors]
    });
  </script>
</dom-module>
