<link rel="import" href="../organisms/dorel-section-service-faq-detail.html">

<dom-module id="dorel-template-faq-detail">
  <template>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        float: left;
        width: 100%;
        margin-bottom: 3em;
      }

      dorel-layout-column {
        margin-top: 0;
      }

      dorel-section-service-faq-detail, dorel-section-service-support {
        margin: 1.5em 0;
      }

      .container-faq, .container-promo-contact, dorel-section-page-nav {
        width: 100%;
      }

      .title {
        @apply(--theme-typography-5);
        color: var(--theme-brand-color-1);
      }

      dorel-section-service-faq-promo {
        float: left;
        margin: 1.5em 0;
        width: 100%;
      }

      [tablet-medium-up] dorel-section-service-faq-detail {
        margin: 3em 0 1.5em 0;
      }

      [desktop-small-up] dorel-section-service-faq-promo {
        margin-top: 3em;
      }

      [tablet-medium-up] .title {
        @apply(--theme-typography-7);
      }

      [tablet-medium-up] .container-faq {
        box-sizing: border-box;
        padding-right: 3em;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:faqCategory"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>

    <!-- page-nav -->
    <dorel-section-page-nav
      breadcrumbs-toggle="true"></dorel-section-page-nav>
    <!--// page-nav -->

    <dorel-layout-container tablet-medium-up$="[[ breakpoints.tabletMediumUp ]]"
                            desktop-small-up$="[[ breakpoints.desktopSmallUp ]]">
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="8" tablet-column-span="12" mobile-column-span="12">
          <div class="container-faq">
            <!-- title & description -->
            <h2 class="title">[[ templateData.acf.title ]]</h2>
            <dorel-safe-html html="[[ templateData.acf.description ]]"></dorel-safe-html>
            <!--// title & description -->

            <dorel-section-service-faq-detail
              faq-detail="[[ faqDetail ]]"></dorel-section-service-faq-detail>
          </div>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="12" mobile-column-span="12">
          <div class="container-promo-contact">

            <!-- customer support -->
            <template
              is="dom-if"
              if="[[faqPromo.promo_toggle]]">
              <dorel-section-service-faq-promo
                template-data="[[faqPromo]]"></dorel-section-service-faq-promo>
            </template>

            <!-- customer support -->
            <template
              is="dom-if"
              if="[[ templateData.acf.customer_support_toggle ]]">
              <dorel-customer-support
                compact="true"
                social-link="[[ _getFacebookLink(config.social_channels) ]]"
                template-data="[[customerSupportOptions]]"></dorel-customer-support>
            </template>
            <!--// customer support -->

          </div>
        </dorel-layout-column>
      </dorel-layout-row>
    </dorel-layout-container>
  </template>
  <script>

  class DorelTemplateFaqDetail extends ReduxMixin(Polymer.mixinBehaviors([TemplateBehaviors, SocialBehavior], Polymer.Element)) {

      static get is() {
        return 'dorel-template-faq-detail';
      }

      static get properties() {
        return {

          /**
           * @name routeData
           * @description the route data contains the faq category slug
           * that is after faq in the url ([domain]/faq/:category-slug).
           * This is used to check if the application retrieved this category
           * already in the cache, otherwise it will retrieve the information
           */
          routeData: {
            type: Object
          },

          /**
           * @attribute
           * @name config
           * @description the config from the redux store
           */
          config: {
            type: Object,
            statePath: 'config',
            observer: '_defineOptionModels'
          },

          /**
           * @attribute
           * @name templateData
           * @description the data coming from ACF/Wordpress which is delegated to the page builder
           */
          templateData: {
            type: Object,
            value: function () {
              return {};
            },
            observer: '_defineComponentModels'
          },

          /**
           * @name faqPromo
           * @description faqPromo contains the information for the promo section
           * that is part of the right sidebar when enabled in WP
           */
          faqPromo: Object,

          /**
           * @name faqDetail
           * @description faqDetail contains the information for the faq detail
           * component to show its sub categories and all questions/answers
           */
          faqDetail: {
            type: Object,
            statePath: function(state) {
              return state.gmt.faq.faqs.find(faq => faq.id === this.categoryId);
            }
          },

          categoryId: {
            type: Number
          },

          /**
           * @name customerSupportOptions
           * @description all customer support settings extracted from the config
           */
          customerSupportOptions: Object
        };
      }

      static get observers() {
        return [
          '_setFaqDetail(routeData, templateData.acf.gmt_category_selector)'
        ];
      }

      /**
       * @observer
       * @name _faqCategorySlugChanged
       * @description when the routeData changes it contains the faqCategorySlug,
       * the application checks if it can find it in cache. If it finds a match in cache
       * the matched category will be shown, otherwise it will be retrieved by the gmt collect
       *
       * @param newSlug - string - the category slug
       */
      _setFaqDetail(routeData, categoryId) {
        if (typeof routeData === 'undefined' || categoryId === 'undefined') return;

        this.set('categoryId', Number(categoryId));

        if(!this.categoryId) {
          return;
        }

        this.dispatch('requestFaqsByCategory', {
          category: this.categoryId,
          url: `categories/${this.categoryId}?items=1&featured_items=1&sub_categories=1`
        });
      }
    }
    customElements.define(DorelTemplateFaqDetail.is, DorelTemplateFaqDetail);
  </script>

</dom-module>
