<dom-module id="dorel-template-404">
  <template>
    <style>
      :host {
        display: block;
        float: left;
        width: 100%;
      }

      .error {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
        padding: 0 var(--theme-gutter-mobile);
        min-height: auto;
        float: left;
        width: 100%;
        margin: 3em 0;
        box-sizing: border-box;
      }

      .error__title {
        @apply(--theme-typography-6);
        color: var(--theme-brand-color-1);
      }

      .error__content {
        @apply(--theme-paragraph-text);
      }

      /* Responsive Behaviour */
      [tablet-medium-up] .error__title {
        @apply(--theme-typography-8);
      }

      .error[tablet-medium-up] {
        min-height: 50vh;
        padding: 0 var(--theme-gutter);
      }

    </style>

    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>
    <div class="error" tablet-medium-up$="{{ breakpoints.tabletMediumUp }}">
      <div>
        <h1 class="error__title">Sorry, something went wrong</h1>
        <p class="error__content">
          We are sorry! Something went wrong. Please use the menu to go back to the page you were looking for.
        </p>
        <p class="error__content">
          A message was send to the person responsible for the website to look what went wrong and to fix the issue.
        </p>
        <!-- TODO: This shouldn't be hardcoded -->
        <p class="error__content">
          Best,<br>
          The Maxi-Cosi team
        </p>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-404'
    });
  </script>
</dom-module>
