<link rel="import" href="../atoms/dorel-expandable-panel.html">

<link rel="import" href="../organisms/dorel-category-listing.html">
<link rel="import" href="../organisms/dorel-section-category-header.html">
<link rel="import" href="../organisms/dorel-category-submenu.html">
<link rel="import" href="../organisms/dorel-category-filter.html">

<link rel="import" href="../utils/dorel-magento-collect-products-by-category.html">

<dom-module id="dorel-template-product-category">
  <template>
    <style>
      :root {
        /* Override the default background-color for the multi sections */
        --theme-multi-background-color: var(--theme-color-background-tertiary);
        --theme-multi-no-background-color: transparent;
        --theme-multi-bottom-padding: var(--theme-component-space-inner-xlarge);
        float: left;
        width: 100%;
        background-color: var(--theme-color-white);
      }

      .container {
        @apply(--max-width-container);
        padding-top: 1.5em;
        box-sizing: border-box;
      }

      .row {
        @apply(--theme-grid-row);
        @apply(--layout-flex);
      }

      .top-nav {
        width: 100%;
        @apply(--theme-grid-column);
        text-align: right;
        height: 1.5em;
      }

      .content {
        width: 100%;
        @apply(--theme-grid-column);
        margin-top: 0;
      }

      .sidebar {
        width: 100%;
        @apply(--theme-grid-column);
      }

      .amount {
        height: 1.5rem;
        margin: 0;
      }

      dorel-section-category-header {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        order: 0;
        margin-top: 0;
      }

      dorel-section-category-sidebar {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        order: 1;
        margin-top: 1.5em;
      }

      dorel-layout-section dorel-page-builder {
        width: 100%;
        display: flex;
      }

      [desktop-small-up] dorel-section-category-header {
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 12);
        flex-basis: calc(var(--theme-column-width) * 12);
        max-width: calc(var(--theme-column-width) * 12);
        order: 0;
      }

      [tablet-medium-up] .container {
        padding: 1.5em var(--theme-gutter) 0 var(--theme-gutter);
      }

      [tablet-medium-up] .row {
        @apply(--theme-grid-row-margins);
      }

      [desktop-small-up] .main-content {
        display: flex;
      }

      [desktop-small-up] .content {
        -ms-flex-preferred-size: calc( var(--theme-column-width) * 9 );
        flex-basis: calc( var(--theme-column-width) * 9 );
        max-width:  calc( var(--theme-column-width) * 9 );
      }

      [desktop-small-up] .sidebar {
        -ms-flex-preferred-size: calc( var(--theme-column-width) * 3 );
        flex-basis: calc( var(--theme-column-width) * 3 );
        max-width:  calc( var(--theme-column-width) * 3 );
      }
    </style>

    <dorel-magento-collect-products-by-category
      category="[[ category ]]"
      retrieving-products="{{ retrievingProducts }}"
      products="{{ products }}"></dorel-magento-collect-products-by-category>


    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>

    <div tablet-medium-up$="{{ breakpoints.tabletMediumUp }}"
         desktop-small-up$="{{ breakpoints.desktopSmallUp }}">

      <!-- show when acf.page_builder has components -->
      <template
        is="dom-if"
        if="{{ templateData.acf.page_builder.length }}">

        <div class="container layout horizontal center center-justified wrap">
          <div class="row">

            <template
              is="dom-if"
              if="{{ shouldShowComponent(templateData, 'section_category_header') }}">
              <dorel-section-category-header
                category-header-data="[[ getComponent(templateData, 'section_category_header') ]]"
                gtm-parent="dorel-section-category-header"
                gtm-parent-index="[[ index ]]"></dorel-section-category-header>
            </template>

            <div class="top-nav">
              <template is="dom-if" if="{{ renderedCount !== 'undefined' }}">
                <p class="amount"><b>[[ renderedCount ]]</b> Results</p>
              </template>
            </div>


            <div class="sidebar">
              <template
                is="dom-if"
                if="{{ shouldShowComponent(templateData, 'section_sub_categories', 'sub_menu') }}">
                <dorel-expandable-panel header="Subcategories" opened>
                  <dorel-category-submenu
                    items="[[ getComponent(templateData, 'section_sub_categories', 'sub_menu') ]]">
                  </dorel-category-submenu>
                </dorel-expandable-panel>
              </template>
              <template
                is="dom-if"
                if="{{ shouldShowComponent(templateData, 'section_magento_filtering', 'filter_groups') }}">
                <dorel-expandable-panel header="Filters" opened>
                  <dorel-category-filter
                    filter-data="[[ getComponent(templateData, 'section_magento_filtering', 'filter_groups') ]]"
                    retrieving-products="[[ retrievingProducts ]]"
                    product-data="[[ products ]]">
                  </dorel-category-filter>
                </dorel-expandable-panel>
              </template>
            </div>

            <div class="content">
              <template
                is="dom-if"
                if="{{ shouldShowComponent(templateData, 'section_magento') }}">
                  <dorel-category-listing
                    products-data="[[ products ]]"
                    retrieving-products="[[ retrievingProducts ]]"
                    sort="[[ sort ]]"
                    rendered-count="{{ renderedCount }}"
                    gtm-parent="dorel-category-listing"
                    gtm-parent-index="2"></dorel-category-listing>
              </template>
            </div>

          </template>
          <template
            is="dom-if"
            if="{{ templateData.acf.title }}">
            <dorel-section-seo
              meta-title="[[ templateData.acf.title ]]"
              meta-description="[[ templateData.acf.description ]]"></dorel-section-seo>
          </template>
        </div>
        </div>
      </div>




  </template>
  <script>
    Polymer({
      is: 'dorel-template-product-category',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function () {
            return {};
          }
        },

        /**
         * @attribute
         * @name products
         * @description the data coming from the collect-products component
         */
        products: {
          type: Array,
          value: []
        },

        /**
         * @attribute
         * @name category
         * @description inherit by parent will be used by collect-products
         */
        category: {
          type: Number,
          value: 0
        },

        /**
         * @attribute
         * @name category
         * @description a loading indicator from the collect-products component
         * if products are retrieved it will set Boolean to false
         * if products are being retrieved it will set Boolean to true
         * initial value is true because component does not have products initially
         */
        retrievingProducts: {
          type: Boolean,
          value: true
        },

        renderedCount: {
          type: Number
        }

      },

      observers: [
        '_templateDataChanged(templateData)'
      ],
      /**
       * observer
       * @name _setInitialProductSorting
       * @description will call functions
       * @param templateData - Object
       */
      _templateDataChanged: function(templateData) {
        this._setInitialProductSorting(templateData);
      },

      /**
       * @name getComponent
       * @description will be used to select the correct component from the page builder
       * @param templateData - Object
       * @param selector - String
       * @param key - Optional
       * @returns returns a Object that will be used by the template
       */
      getComponent: function(templateData, selector, key) {
        if(!templateData || !templateData.acf || !templateData.acf.page_builder || !templateData.acf.page_builder.length) {
          return [];
        }
        var pageBuilderComponent = templateData.acf.page_builder.find(function(section) {
          return section.acf_fc_layout === selector;
        });
        if(!pageBuilderComponent) {
          return null;
        }
        return key ? pageBuilderComponent[key] : pageBuilderComponent;
      },

      shouldShowComponent: function(templateData, selector, key) {
        var data = this.getComponent(templateData, selector, key);
        // if a key is provided check if it has items in the array otherwise only check if defined
        var check = key ? data && data.length : data;
        return Boolean(data);
      },

      /**
       * @name _setInitialProductSorting
       * @description will set the sort Object that will be used by the category-listing component
       * @param templateData - Object
       */
      _setInitialProductSorting: function(templateData) {
        if(!templateData || !templateData.acf ||
          !templateData.acf.page_builder || !templateData.acf.page_builder.length) {
          return;
        }
        var magentoSection = this.getComponent(templateData, 'section_magento');
        var sort = {
          type: magentoSection ? magentoSection.magento_product_sorting : 'name',
          order: magentoSection ? magentoSection.magento_sort_order : 'asc'
        };
        this.set('sort', sort);
      }
    });
  </script>
</dom-module>
