<dom-module id="dorel-template-404">
  <template>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        display: block;
        float: left;
        width: 100%;
      }

      .error {
        margin: 3em 0;
      }

      .error__title {
        @apply(--theme-typography-6);
        color: var(--theme-brand-color-1);
      }

      .error__content {
        @apply(--theme-paragraph-text);
      }

      /* Responsive Behaviour */
      [tablet-medium-up] .error__title {
        @apply(--theme-typography-8);
      }

    </style>

    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>
    <dorel-layout-container class="error" tablet-medium-up$="[[ breakpoints.tabletMediumUp ]]">
      <dorel-layout-row>
        <dorel-layout-column desktop-column-span="7" tablet-column-span="9" mobile-column-span="12">
          <h1 class="error__title">{{ localize('404_error_title') }}</h1>
          <p class="error__content">{{ localize('404_error_content_1') }}</p>
          <p class="error__content">{{ localize('404_error_content_2') }}</p>
          <p class="error__content">{{ localize('404_regards') }}<br>{{ localize('maxi_cosi_team') }}</p>
        </dorel-layout-column>
      </dorel-layout-row>
    </dorel-layout-container>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-404',

      behaviors: [
        DorelMultilingualBehavior
      ]
    });
  </script>
</dom-module>
