<link rel="import" href="../organisms/dorel-section-header.html">

<dom-module id="dorel-template-info-overview">
  <template>
    <style>
      .wrapper {
        float: left;
        width: 100%;
      }
      .max-width-container {
        @apply(--max-width-container);
        max-width: var(--theme-base-paragraph-width);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    </style>

    <div class="wrapper">

      <div class="container layout horizontal center center-justified wrap">
        <div class="row">
          
          <!-- section-hero-header -->
          <template 
            is="dom-if" 
            if="[[templateData.acf.hero_header.length]]">
            <dorel-section-header 
              section-header-data="[[heroHeaderData]]"></dorel-section-header>

            <template
              is="dom-if"
              if="[[ templateData.acf.breadcrumbs_toggle ]]">
              <dorel-section-page-nav
                breadcrumbs-toggle="[[ templateData.acf.breadcrumbs_toggle ]]"></dorel-section-page-nav>
            </template>
          </template>
          <!--// section-hero-header -->

          <template
            is="dom-if"
            if="[[ _hasValue(templateData.acf.description) ]]">
            <div>
                centered description:
                <dorel-safe-html html="[[templateData.acf.description]]"></dorel-safe-html>
            </div>
          </template>

          <!-- Section cards -->
          <template 
            is="dom-if" 
            if="[[parentCardsData.length]]">
            <dorel-section-cards
              compact="true"
              cards-data="[[ _cardsFilter(parentCardsData) ]]"></dorel-section-cards>
          </template>
          <!--// Section cards -->

        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-info-overview',

      properties: {

        appCache: {
          type: Object,
          value: function(){
            return {};
          }
        },

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function() {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeaderData: Object,

        /**
         * @name parentCardsData
         * @description the data model used for the cards component
         */
        parentCardsData: Array,
        /**
         * @name filteredParentCardsData
         * @description Adjusts the cards data model to be used for the dorel-section-card
         */
        filteredParentCardsData: {
          type: Object,
          computed: '_cardsFilter(parentCardsData, templateData)'
        }

      },

      behaviors: [DorelObjectHasPropertiesBehavior, DorelHasValueBehavior],

      _cardsFilter: function(parentCardsData) {
        return {'cards': parentCardsData};
      },

      /** 
       * @name _defineComponentModels
       * @description Fixed WP/ACF data is defined by an array (workaround). For components
       * that always have one item in the array a new data model is created to be set on
       * component attribute level. Binding with [0] array item selector doesn't work.
       *
       * @param Object
       */
      _defineComponentModels: function(templateData) {
        // check if the templateData has content
        if(!this._hasProperty(templateData) || typeof templateData.acf === 'undefined') return;

        // set the homeHeaderData for the heroHeader component
        if(typeof templateData.acf.hero_header !== 'undefined') {
          this.set('heroHeaderData', templateData.acf.hero_header[0]);
        }

        // set the homeHeaderData for the heroHeader component
        if(typeof templateData.acf.parent_cards !== 'undefined') {
          this.set('parentCardsData', templateData.acf.parent_cards);
        }
      }
    });
  </script>
</dom-module>
