<link rel="import" href="../organisms/dorel-car-fitting-nav.html">
<link rel="import" href="../organisms/dorel-car-fitting-age-selection.html">
<link rel="import" href="../organisms/dorel-car-fitting-cars-selection.html">
<link rel="import" href="../organisms/dorel-car-fitting-results.html">
<link rel="import" href="../organisms/dorel-car-fitting-product-selector.html">
<dom-module id="dorel-template-product-advisory-tool">
  <template>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        display: block;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
      }
      [hidden] {
        display: none;
      }
      .loader {
        width: 100%;
        display: block;
        min-height: 4px;
      }
    </style>

    <app-location route="{{ route }}" query-params="{{ queryParams }}"></app-location>

    <dorel-car-fitting-nav
      load-complete="[[ loadComplete ]]"
      page-title="[[ currentStepTitle ]]"
      previous="[[ isNotFirstStep(currentStep, carFittingSteps) ]]"
      progress="[[ currentProgress ]]"
      product-name="[[ requestedProductName ]]"
      brand-name="[[ brandName ]]'">
    </dorel-car-fitting-nav>

    <app-route
      route="{{ route }}"
      pattern="/:productName"
      data="{{ routeData }}"
      tail="{{ subroute }}">
    </app-route>

    <dorel-car-fitting-age-selection
      age-category="{{ ageCategory }}"
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingAgeSelection.isCurrent ]]"
      product-name="[[ productData.sku ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingAgeSelection }}">
    </dorel-car-fitting-age-selection>

    <dorel-car-fitting-cars-selection
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingSelection.isCurrent ]]"
      product-name="[[ requestedProductName ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingSelection }}">
    </dorel-car-fitting-cars-selection>

   <dorel-car-fitting-cars-selection
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingAddCar.isCurrent ]]"
      product-name="[[ requestedProductName ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingAddCar }}">
    </dorel-car-fitting-cars-selection>

    <dorel-car-fitting-product-selector
      age-category="{{ ageCategory }}"
      hidden$="[[ !stepData.carFittingResults.isCurrent ]]"
      product-data="{{ productData }}"
      car-data="{{ carData }}">
    </dorel-car-fitting-product-selector>

    <dorel-car-fitting-results
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingResults.isCurrent ]]"
      product-data="[[ productData ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingResults }}">
    </dorel-car-fitting-results>

  </template>

  <script>
    /* global Polymer */
    /* global customElements */
    class DorelTemplateProductAdvisoryTool extends ReduxMixin(Polymer.Element) {
      static get is() {
        return 'dorel-template-product-advisory-tool';
      }

      static get properties() {
        return {
          ageCategory: {
            type: Object,
            value: () => {
              return {
                category: 0,
                label: ''
              }
            }
          },
          stepController: {
            type: Object,
            value: () => {
              return {
                currentStep: null
              }
            }
          },
          carData: {
            type: Array,
            value: () => {
              return []
            }
          },
          currentStepTitle: String,
          currentProgress: Number,
          requestedProductName: String,
          productData: {
            type: Object,
            statePath: function(state) {
              const product = state.product.products.find(product => product.url === this.requestedProductName)
              return product ? product : { isLoading: true };
            }
          },
          requestedProductName: String,
          stepData: {
            type: Object,
            value: () => {
              return {
                carFittingAgeSelection: {
                  isCurrent: false,
                  stepName: 'carFittingAgeSelection',
                  stepNumber: 1,
                  nextStep: 'carFittingSelection',
                  previousStep: null,
                  title: 'car_fitting_age_selection#step_title',
                  hide_buttons: false,
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'car_fitting_age_selection#main_section_title',
                    primary_cta: 'car_fitting_age_selection#primary_cta',
                    secondary_cta: 'car_fitting_selection#secondary_cta',
                    car_display_label: 'car_fitting_selection#car_display_label',
                    form: {
                      form_groups: [
                        {
                          label: 'car_fitting_selection#brand_input_label',
                          default_option: {
                            label: 'Choose a brand',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#model_input_label',
                          default_option: {
                            label: 'Choose a model',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#type_input_label',
                          default_option: {
                            label: 'Choose a type',
                            value: ''
                          },
                          options: []
                        }
                      ]
                    }
                  },
                  sub_section: {
                    title: '',
                    notification_1: 'car_fitting_age_selection#sub_section_notification_1',
                    notification_2: 'car_fitting_age_selection#sub_section_notification_2',
                    background_image_id: CONFIG.BYNDER_DEFAULT_IMAGE
                  },
                  options: {
                    next: 'Show results',
                    previous: 'Back'
                  }
                },
                carFittingSelection: {
                  isCurrent: false,
                  stepName: 'carFittingSelection',
                  stepNumber: 1,
                  nextStep: 'carFittingAddCar',
                  previousStep: 'carFittingAgeSelection',
                  title: 'car_fitting_selection#step_title',
                  hide_buttons: false,
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'car_fitting_selection#main_section_title',
                    primary_cta: 'car_fitting_selection#primary_cta',
                    secondary_cta: 'car_fitting_selection#secondary_cta',
                    car_display_label: 'car_fitting_selection#car_display_label',
                    form: {
                      form_groups: [
                        {
                          label: 'car_fitting_selection#brand_input_label',
                          default_option: {
                            label: 'Choose a brand',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#model_input_label',
                          default_option: {
                            label: 'Choose a model',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#type_input_label',
                          default_option: {
                            label: 'Choose a type',
                            value: ''
                          },
                          options: []
                        }
                      ]
                    }
                  },
                  sub_section: {
                    title: '',
                    notification_1: 'car_fitting_selection#sub_section_notification_1',
                    notification_2: 'car_fitting_selection#sub_section_notification_2',
                    notification_3: 'car_fitting_selection#sub_section_notification_3',
                    background_image_id: CONFIG.BYNDER_DEFAULT_IMAGE
                  },
                  options: {
                    next: 'Show results',
                    previous: 'Back'
                  }
                },
                carFittingAddCar: {
                  isCurrent: false,
                  stepName: 'carFittingAddCar',
                  stepNumber: 2,
                  nextStep: 'carFittingResults',
                  previousStep: 'carFittingSelection',
                  title: 'car_fitting_add_cars#step_title',
                  hide_buttons: false,
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'car_fitting_selection#main_section_title',
                    primary_cta: 'car_fitting_selection#primary_cta',
                    secondary_cta: 'car_fitting_selection#secondary_cta',
                    car_display_label: 'car_fitting_selection#car_display_label',
                    form: {
                      form_groups: [
                        {
                          label: 'car_fitting_selection#brand_input_label',
                          default_option: {
                            label: 'Choose a brand',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#model_input_label',
                          default_option: {
                            label: 'Choose a model',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#type_input_label',
                          default_option: {
                            label: 'Choose a type',
                            value: ''
                          },
                          options: []
                        }
                      ]
                    }
                  },
                  sub_section: {
                    title: '',
                    notification_1: 'car_fitting_selection#sub_section_notification_1',
                    notification_2: 'car_fitting_selection#sub_section_notification_2',
                    notification_3: 'car_fitting_selection#sub_section_notification_3',
                    background_image_id: CONFIG.BYNDER_DEFAULT_IMAGE
                  },
                  options: {
                    next: 'Show results',
                    previous: 'Back'
                  }
                },
                carFittingResults: {
                  isCurrent: false,
                  stepName: 'carFittingResults',
                  stepNumber: 3,
                  nextStep: null,
                  previousStep: 'carFittingAddCar',
                  title: 'car_fitting_results#step_title',
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'Car Fitting',
                    info: 'Click on the icons on the seats to see more details'
                  },
                  selected_product: {
                      title: 'Your selection'
                  },
                  legend: {
                      title: 'Legend'
                  },
                  options: {
                    next: 'Next',
                    previous: 'Back'
                  }
                }
              };
            }
          }
        };
      }

      static get observers() {
        return [
            'setCurrentStep(stepController.currentStep)',
            '_productNameChanged(requestedProductName)'
        ];
      }

      /**
       * @name _productNameChanged
       * @description if the productName changes dispatch an action to retrieve product
       * @param product - Object
       * @returns Boolean
       */
      _productNameChanged(productName) {
        if(productName) {
          this.dispatch('requestProduct', productName);
        }
      }

      error(message) {
        console.error(message);
      }

      getCurrentProgess() {
        const currentStepNumber = (this.getCurrentStepData()) ? this.getCurrentStepData().stepNumber : 0;
        const totalAmountOfSteps = Object.keys(this.stepData).length;;
        return (currentStepNumber * 100) / totalAmountOfSteps;
      }

      getCurrentStepData() {
        return this.stepData[Object.keys(this.stepData).filter(function(step) {
          return this.stepData[step].stepName === this.stepController.currentStep;
        }.bind(this))];
      }

      ready() {
        super.ready();
        if(this.queryParams && this.queryParams.productName) {
          this.set('requestedProductName', this.queryParams.productName);
          setTimeout(function(){
            this.set('stepController.currentStep', 'carFittingAgeSelection');
          }.bind(this), 0);
        } else {
          this.error('Missing \'productName\' query parameter');
        }
      }

      setCurrentStep(setStepTo) {
        const currentStepData = this.stepData[Object.keys(this.stepData).filter(function(step) {
          return this.stepData[step].stepName === setStepTo;
        }.bind(this))];
        if(currentStepData) this.set(`stepData.${currentStepData.stepName}.isCurrent`, true);
        this.currentStepTitle = (this.getCurrentStepData()) ? this.getCurrentStepData().title : '';
        this.currentProgress = (this.getCurrentProgess()) ? this.getCurrentProgess() : 0;
      }
    }

    customElements.define(DorelTemplateProductAdvisoryTool.is, DorelTemplateProductAdvisoryTool);
  </script>
</dom-module>
