<link rel="import" href="../organisms/car-fitting/dorel-car-fitting-nav.html">
<link rel="import" href="../organisms/car-fitting/dorel-car-fitting-age-selector.html">
<link rel="import" href="../organisms/car-fitting/dorel-car-fitting-car-selector.html">
<link rel="import" href="../organisms/car-fitting/dorel-car-fitting-product-selector.html">
<link rel="import" href="../organisms/car-fitting/dorel-car-fitting-results.html">
<dom-module id="dorel-template-product-advisory-tool">
  <template>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        display: block;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
      }
      [hidden] {
        display: none;
      }
      .loader {
        width: 100%;
        display: block;
        min-height: 4px;
      }
      #background-complementary {
        background-color: var(--theme-color-monochrome-2);
        position: absolute;
        top: 0rem;
        bottom: 0;
        right: 0;
        width: 50%;
        z-index: -10000;
      }
    </style>
    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>
    <app-location route="{{ route }}" query-params="{{ queryParams }}"></app-location>
    
    <br>

    <dorel-car-fitting-nav
      app-cache="[[ appCache ]]"
      load-complete="[[ loadComplete ]]"
      page-title="[[ currentStepTitle ]]"
      previous="[[ isNotFirstStep(currentStep, carFittingSteps) ]]"
      progress="[[ currentProgress ]]"
      product-name="[[ requestedProductName ]]"
      brand-name="[[ brandName ]]'">
    </dorel-car-fitting-nav>

    <app-route
      route="{{ route }}"
      pattern="/:productName"
      data="{{ routeData }}"
      tail="{{ subroute }}">
    </app-route>
    
    <dorel-car-fitting-age-selector
      age-category="{{ ageCategory }}"
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingAgeSelector.isCurrent ]]"
      product-name="[[ productData.sku ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingAgeSelector }}">
    </dorel-car-fitting-age-selector>

    <dorel-car-fitting-car-selector
      car-data="{{ carData }}"
      hidden$="[[ !stepData.carFittingCarSelector.isCurrent ]]"
      product-name="[[ requestedProductName ]]"
      product-sku="[[ requestedProductSKU ]]"
      step-controller="{{ stepController  }}"
      step-data="{{ stepData.carFittingCarSelector }}">
    </dorel-car-fitting-car-selector>

    <template is="dom-if" if="{{ standalone }}" restamp="true">
      <dorel-car-fitting-product-selector
        age-category="{{ ageCategory }}"
        car-data="{{ carData }}"
        hidden$="[[ !stepData.carFittingResults.isCurrent ]]"
        product-data="{{ productData }}"
        selected-product="{{ selectedProduct }}"
        product-name="{{ requestedProductName }}"
        step-controller="{{ stepController  }}"
        step-data="{{ stepData.carFittingResults }}">
      </dorel-car-fitting-product-selector>
    </template>

    <template is="dom-if" if="{{ carData }}" restamp="true">
      <dorel-car-fitting-results
        standalone="[[ standalone ]]"
        car-data="{{ carData }}"
        hidden$="[[ !stepData.carFittingResults.isCurrent ]]"
        product-data="[[ productData ]]"
        selected-product="[[ selectedProduct ]]"
        step-controller="{{ stepController  }}"
        step-data="{{ stepData.carFittingResults }}">
      </dorel-car-fitting-results>
    </template>


    <template is="dom-if" if="[[ breakpoints.tabletMediumUp ]]" restamp="true">
      <div id="background-complementary"></div>
    </template>
  </template>

  <script>
    /* global Polymer */
    /* global customElements */
    class DorelTemplateProductAdvisoryTool extends ReduxMixin(Polymer.Element) {
      static get is() {
        return 'dorel-template-product-advisory-tool';
      }

      static get properties() {
        return {
          ageCategory: {
            type: Object,
            value: () => {
              return {
                category: 0,
                label: ''
              }
            }
          },
          stepController: {
            type: Object,
            value: () => {
              return {
                currentStep: null
              }
            }
          },
          standalone: {
            type: Boolean,
            value: true
          },
          carData: {
            type: Array,
            value: () => {
              return []
            }
          },
          selectedProduct: {
            type: Array,
            value: () => {
              return []
            }
          },
          currentStepTitle: String,
          currentProgress: Number,
          requestedProductName: String,
          requestedProductSKU: String,
          productData: {
            type: Object,
            statePath: function(state) {
              const product = state.product.products.find(product => product.url === this.requestedProductName);
              if(product) {
                if(!product.notAvailable) {
                  this.set('requestedProductSKU', product.sku);
                }
              }
              return product ? product : { isLoading: true };
            }
          },
          stepData: {
            type: Object,
            value: () => {
              return {
                carFittingAgeSelector: {
                  isCurrent: false,
                  stepName: 'carFittingAgeSelector',
                  stepNumber: 1,
                  nextStep: 'carFittingCarSelector',
                  previousStep: null,
                  title: 'car_fitting_age_selection#step_title',
                  hide_primary_button: false,
                  hide_secondary_button: true,
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'car_fitting_age_selection#main_section_title',
                    primary_cta: 'car_fitting_age_selection#primary_cta',
                    secondary_cta: 'car_fitting_selection#secondary_cta',
                    car_display_label: 'car_fitting_selection#car_display_label',
                    form: {
                      form_groups: [
                        {
                          label: 'car_fitting_selection#brand_input_label',
                          default_option: {
                            label: 'Choose a brand',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#model_input_label',
                          default_option: {
                            label: 'Choose a model',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#type_input_label',
                          default_option: {
                            label: 'Choose a type',
                            value: ''
                          },
                          options: []
                        }
                      ]
                    }
                  },
                  sub_section: {
                    title: '',
                    notification_1: 'car_fitting_age_selection#sub_section_notification_1',
                    notification_2: 'car_fitting_age_selection#sub_section_notification_2',
                    background_image_id: CONFIG.BYNDER_DEFAULT_IMAGE
                  },
                  options: {
                    next: 'Show results',
                    previous: 'Back'
                  }
                },
                carFittingCarSelector: {
                  isCurrent: false,
                  stepName: 'carFittingCarSelector',
                  stepNumber: 2,
                  nextStep: 'carFittingResults',
                  previousStep: 'carFittingAgeSelector',
                  title: 'car_fitting_selection#step_title',
                  hide_primary_button: false,
                  hide_secondary_button: true,
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'car_fitting_selection#main_section_title',
                    primary_cta: 'car_fitting_selection#primary_cta',
                    secondary_cta: 'car_fitting_selection#secondary_cta',
                    car_display_label: 'car_fitting_selection#car_display_label',
                    form: {
                      form_groups: [
                        {
                          label: 'car_fitting_selection#brand_input_label',
                          default_option: {
                            label: 'Choose a brand',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#model_input_label',
                          default_option: {
                            label: 'Choose a model',
                            value: ''
                          },
                          options: []
                        },
                        {
                          label: 'car_fitting_selection#type_input_label',
                          default_option: {
                            label: 'Choose a type',
                            value: ''
                          },
                          options: []
                        }
                      ]
                    }
                  },
                  sub_section: {
                    title: '',
                    notification_1: 'car_fitting_selection#sub_section_notification_1',
                    notification_2: 'car_fitting_selection#sub_section_notification_2',
                    notification_3: 'car_fitting_selection#sub_section_notification_3',
                    warning_1: 'car_fitting_selection#sub_section_warning_1',
                    background_image_id: CONFIG.BYNDER_DEFAULT_IMAGE
                  },
                  options: {
                    next: 'Show results',
                    previous: 'Back'
                  }
                },
                carFittingResults: {
                  isCurrent: false,
                  stepName: 'carFittingResults',
                  stepNumber: 3,
                  nextStep: null,
                  previousStep: 'carFittingCarSelector',
                  title: 'car_fitting_results#step_title',
                  main_section: {
                    section_type: 'car-details-form',
                    title: 'Car Fitting',
                    info: 'Click on the icons on the seats to see more details'
                  },
                  selected_product: {
                      title: 'Your selection'
                  },
                  legend: {
                      title: 'Legend'
                  },
                  options: {
                    next: 'Next',
                    previous: 'Back'
                  }
                }
              };
            }
          }
        };
      }

      static get observers() {
        return [
            'setCurrentStep(stepController.currentStep)',
            '_productNameChanged(requestedProductName)',
        ];
      }

      /**
       * @name _productNameChanged
       * @description if the productName changes dispatch an action to retrieve product
       * @param product - Object
       * @returns Boolean
       */
      _productNameChanged(productName) {
        //debugger;
        if(productName) {
          this.dispatch('requestProduct', productName);
        }
      }

      error(message) {
        console.error(message);
      }

      getCurrentProgess() {
        const currentStepNumber = (this.getCurrentStepData()) ? this.getCurrentStepData().stepNumber : 0;
        const totalAmountOfSteps = Object.keys(this.stepData).length;;
        return (currentStepNumber * 100) / totalAmountOfSteps;
      }

      getCurrentStepData() {
        return this.stepData[Object.keys(this.stepData).filter(function(step) {
          return this.stepData[step].stepName === this.stepController.currentStep;
        }.bind(this))];
      }

      ready() {
        super.ready();
          this.set('requestedProductName', this.queryParams.product);
          if(this.requestedProductName) {
            this.set('standalone', false);
            this.set('stepController.currentStep', 'carFittingCarSelector');
          } else {
            this.set('standalone', true);
            this.set('stepController.currentStep', 'carFittingAgeSelector');
          }
      }

      setCurrentStep(setStepTo) {
        const currentStepData = this.stepData[Object.keys(this.stepData).filter(function(step) {
          return this.stepData[step].stepName === setStepTo;
        }.bind(this))];
        if(currentStepData) this.set(`stepData.${currentStepData.stepName}.isCurrent`, true);
        this.currentStepTitle = (this.getCurrentStepData()) ? this.getCurrentStepData().title : '';
        this.currentProgress = (this.getCurrentProgess()) ? this.getCurrentProgess() : 0;
        const backgroundNode = this.shadowRoot.querySelector('#background-complementary');
        if(backgroundNode) (setStepTo === 'carFittingResults') ? backgroundNode.style.top = '47rem': backgroundNode.style.top = '0rem';
      }
    }

    customElements.define(DorelTemplateProductAdvisoryTool.is, DorelTemplateProductAdvisoryTool);
  </script>
</dom-module>
