<link rel="import" href="../organisms/dorel-category-listing.html">

<dom-module id="dorel-template-product-category">
  <template>
    <style>
      :root {
        /* Override the default background-color for the multi sections */
        --theme-multi-background-color: var(--theme-color-background-tertiary);
        --theme-multi-no-background-color: transparent;
        --theme-multi-bottom-padding: var(--theme-component-space-inner-xlarge);
        float: left;
        width: 100%;
      }

      .wrapper {
        opacity: 0; /* make things invisible upon start */
        -webkit-animation: fadeIn ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease 1;
        animation: fadeIn ease 1;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: .1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @-moz-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      dorel-layout-section dorel-page-builder {
        width: 100%;
        display: flex;
      }
    </style>

    <iron-ajax
      auto
      url="[[ categoriesEndPoint ]]"
      handle-as="json"
      on-response="_categoriesLoaded"></iron-ajax>

    <div class="wrapper">

      <!-- show when acf.page_builder has components -->
      <template
        is="dom-if"
        if="{{ products.length }}">

        <dorel-category-listing
          products-data="[[ products ]]"></dorel-category-listing>

      </template>

    </div>

  </template>

  <script>
    Polymer({
      is: 'dorel-template-product-category',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function () {
            return {};
          }
        },

        products: {
          type: Array,
          value: []
        }

      },

      observers: [
        '_initProductsPage(globals.Dorel.collect.categories, globals.Dorel.collect.pages)'
      ],

      /**
       * @observer
       * @name _initProductsPage
       * @description initializes all data for the category-listing. It matches the current
       * pages categoryId to the category in the categories collect. After that it will match
       * all the products that comply to the categoryId
       *
       * @param page - Array - categories array (all categories in WP)
       * @param pages - Array - all the retrieved pages from WP
       */
      _initProductsPage: function(categories, pages) {
        // reference this
        var self = this;
        this.products = [];

        // match the current page categoryId to the categories array retrieved from WP
        var category = categories.find(function(category) {
          return category.id === self.templateData.acf.product_category[0];
        });

        // get the products page from the pages array retrieved from WP
        var page = pages.find(function(page) {
          return page.template === 'products';
        });

        // check which pages have the current categoryId attached and add them to the products array
        for (var i = 0; i < page.products.length; i++) {
          if ( page.products[i].categories.indexOf(category.id) === 0 ) {
            this.products = this.products.concat(page.products[i]);
          }
        }
      }
    });
  </script>
</dom-module>
