<link rel="import" href="../organisms/dorel-section-category-about-header.html">
<link rel="import" href="../organisms/dorel-section-category-about-sub-categories.html">

<dom-module id="dorel-template-product-category-about">
  <template>
    <style>
    </style>

    <div tablet-medium-up$="{{ breakpoints.tabletMediumUp }}"
         desktop-small-up$="{{ breakpoints.desktopSmallUp }}">

      <!-- show when acf.page_builder has components -->
      <template
        is="dom-if"
        if="{{ templateData.acf.page_builder.length }}">

        <!-- iterate over page_builder components -->
        <template
          is="dom-repeat"
          items="[[ templateData.acf.page_builder ]]"
          as="component"
          targetFramerate="1000">
          
          <!-- category-about-header -->
          <template
            is="dom-if"
            if="{{ isPageComponent(component.acf_fc_layout, 'section_hero_header') }}"> 
            <dorel-section-category-about-header
              template-data="[[ component ]]"></dorel-section-category-about-header>
          </template>
          <!--// category-about-header -->

          <!-- category-about-sub-categories -->
          <template
            is="dom-if"
            if="{{ isPageComponent(component.acf_fc_layout, 'section_sub_categories') }}"> 
            <dorel-section-category-about-sub-categories
              template-data="[[ component ]]"></dorel-section-category-about-sub-categories>
          </template>
          <!--// category-about-sub-categories -->

          <!-- about cards -->
          <template
            is="dom-if"
            if="{{ isPageComponent(component.acf_fc_layout, 'section_about_cards') }}">
            <dorel-section-cards 
              cards-data="[[ component ]]" 
              cta-type="secondary" 
              compact="true"></dorel-section-cards>
          </template>
          <!--// about cards -->

        </template>

      </template>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-product-category-about',

      properties: {
          
        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: String
        }

      },

      /** 
       * @name isPageComponent
       * @description compares to values to see if they match, for some
       * components they can be doubled. They will always be suffixed with
       * their number like section_multi and section_multi_2. In those
       * cases we need to treat them as section_multi's.
       *
       * @returns Boolean if the two values match or not (true/false)
       */
      isPageComponent: function(response, cname) {

        // get last char
        var lastChar = response.substr(response.length - 1);

        // find out if it is a number
        var isNumber = !isNaN(Number(lastChar));
        
        // if it is a number treat it accordingly
        if (isNumber) {
          var keyArr = response.split('_');
          keyArr.pop();
          strippedResponse = keyArr.join('_');

          return strippedResponse === cname;
        }

        // all other cases just compare them
        return response === cname;
      }

    });
  </script>
</dom-module>
