<link rel="import" href="../organisms/dorel-section-header.html">
<link rel="import" href="../organisms/dorel-section-content-wrap.html">

<dom-module id="dorel-template-info">
  <template>
    <style>
      .wrapper {
        float: left;
        width: 100%;
        padding-bottom: 1.5em;
      }
      .max-width-container {
        @apply(--max-width-container);
        max-width: var(--theme-base-paragraph-width);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    </style>

    <div class="wrapper">

      <div class="container layout horizontal center center-justified wrap">
        <div class="row">
          
          <!-- section-hero-header -->
          <template 
            is="dom-if" 
            if="[[templateData.acf.hero_header.length]]">
            <dorel-section-header 
              section-header-data="[[heroHeaderData]]" 
              info-header="true"></dorel-section-header>

            <template
              is="dom-if"
              if="[[ templateData.acf.breadcrumbs_toggle ]]">
              <dorel-section-page-nav
                breadcrumbs-toggle="[[ templateData.acf.breadcrumbs_toggle ]]"></dorel-section-page-nav>
            </template>
          </template>
          <!--// section-hero-header -->

          <!-- show when acf.page_builder has components -->
          <template
            is="dom-if"
            if="{{ templateData.acf.page_builder.length }}">


            <!-- iterate over page_builder components -->
            <template
              is="dom-repeat"
              items="[[ templateData.acf.page_builder ]]"
              as="component"
              targetFramerate="1000">

                  <!-- section-info-header -->
                  <template
                    is="dom-if"
                    if="[[ isPageComponent(component.acf_fc_layout, 'section_info_header') ]]">
                    <dorel-section-header 
                      section-header-data="[[ component ]]" 
                      info-header="true"></dorel-section-header>
                  </template>
                  <!--// section-info-header -->

                  <!-- section-content-wrap -->
                  <template
                    is="dom-if"
                    if="[[ isPageComponent(component.acf_fc_layout, 'section_content_wrap') ]]">

                    <dorel-section-content-wrap
                      content-wrappers="[[ component ]]"></dorel-section-content-wrap>

                  </template>
                  <!--// section-content-wrap -->

                  <!-- dorel section hubspot -->
                  <template
                    is="dom-if"
                    if="[[ isPageComponent(component.acf_fc_layout, 'section_hubspot') ]]">

                    <dorel-hubspot
                      hubspot-loaded="[[ appCache.collect.options.hubspot_loaded ]]"
                      portal-id="[[ appCache.collect.options.hubspot_portal_id ]]"
                      form-id="{{ component.hubspot_form_id }}"></dorel-hubspot>

                  </template>
                  <!--// dorel section hubspot -->

            </template>
          </template>

        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-template-info',

      properties: {

        appCache: {
          type: Object,
          value: function(){
            return {};
          }
        },

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function() {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeaderData: Object

      },

      behaviors: [DorelObjectHasPropertiesBehavior],

      /** 
       * @name _defineComponentModels
       * @description Fixed WP/ACF data is defined by an array (workaround). For components
       * that always have one item in the array a new data model is created to be set on
       * component attribute level. Binding with [0] array item selector doesn't work.
       *
       * @param Object
       */
      _defineComponentModels: function(templateData) {
        // check if the templateData has content
        if(!this._hasProperty(templateData) || typeof templateData.acf === 'undefined') return;

        // set the homeHeaderData for the heroHeader component
        if(typeof templateData.acf.hero_header !== 'undefined') {
          this.set('heroHeaderData', templateData.acf.hero_header[0]);
        }
      },

      /**
       * @name isPageComponent
       * @description compares to values to see if they match, for some
       * components they can be doubled. They will always be suffixed with
       * their number like section_multi and section_multi_2. In those
       * cases we need to treat them as section_multi's.
       *
       * @returns Boolean if the two values match or not (true/false)
       */
      isPageComponent: function (response, cname) {

        // get last char
        var lastChar = response.substr(response.length - 1);

        // find out if it is a number
        var isNumber = !isNaN(Number(lastChar));

        // if it is a number treat it accordingly
        if (isNumber) {
          var keyArr = response.split('_');
          keyArr.pop();
          strippedResponse = keyArr.join('_');

          return strippedResponse === cname;
        }

        // all other cases just compare them
        return response === cname;
      }
    });
  </script>
</dom-module>
