<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="dorel-template-home.html">

<dom-module id="dorel-template">

  <template>

    <template is="dom-if" if="{{ _hasTemplate(templateName) }}">
      <template is="dom-if" if="{{ _isTemplate(templateName, 'home') }}">
        <dorel-template-home template-data="{{ templateData }}"></dorel-template-home>
      </template>
        
      <template is="dom-if" if="{{ _isTemplate(templateName, 'info') }}">
        <dorel-template-info template-data="{{ templateData }}"></dorel-template-info>
      </template>

      <template is="dom-if" if="{{ _isTemplate(templateName, 'marketing') }}">
        <dorel-template-marketing template-data="{{ templateData }}"></dorel-template-marketing>
      </template>
    </template>
    
  </template>

  <script>
    Polymer({
      is: 'dorel-template',

      properties: {
        templateName: {
          type: String
        },

        templateData: {
          type: String
        }
      },

      ready: function() {
        /**
         * Template is loaded
         * for the user this is the moment where he sees the page template
         * and components
         */
        var event = new Event('dorel-template-loaded');
        window.dispatchEvent(event);
      },

      _hasTemplate: function(templateName) {
        return (templateName) ? true : false;
      },

      _isTemplate: function(templateName, templateCase) {
        if (templateName !== 'home') {
          this.importHref(this.resolveUrl('dorel-template-' + templateName + '.html'), null, null, true);
        }
        return templateName === templateCase;
      }
    });
  </script>
</dom-module>
