<dom-module id="dorel-template-form-success">
  <template>
    <style>
      .title {
        @apply(--theme-typography-5);
        margin-top: 0;
        color: var(--theme-brand-color-1);
      }

      dorel-layout-row {
        max-width: var(--max-width-limit);
      }
    </style>

    <dorel-layout-container>
      <dorel-layout-row>
        <dorel-layout-column
          desktop-column-span="6"
          tablet-column-span="8"
          mobile-column-span="12">
          <template
            is="dom-if"
            if="[[_shouldShow(templateData.acf.title)]]">
            <span class="title">[[templateData.acf.title]]</span>
          </template>

          <template
            is="dom-if"
            if="[[_shouldShow(templateData.acf.description)]]">
            <p>[[templateData.acf.description]]</p>
          </template>
        </dorel-layout-column>
      </dorel-layout-row>
    </dorel-layout-container>
  </template>

  <script>
    class DorelTemplateFormSuccess extends Polymer.mixinBehaviors([DorelMultilingualBehavior], Polymer.Element) {

      static get is() { return 'dorel-template-form-success'; }

      static get properties() {
        return {
          templateData: Object
        }
      }

      _shouldShow(string) {
        return typeof string !== 'undefined' || string !== '';
      }
    }

    customElements.define(DorelTemplateFormSuccess.is, DorelTemplateFormSuccess);
  </script>
</dom-module>
