<link rel="import" href="../organisms/dorel-section-product-accessories.html">
<link rel="import" href="../organisms/dorel-section-product-accordions.html">
<link rel="import" href="../organisms/dorel-section-product-features.html">
<link rel="import" href="../organisms/dorel-section-product-topics.html">
<link rel="import" href="../organisms/dorel-section-header.html">
<link rel="import" href="../organisms/dorel-section-product-showcase.html">
<link rel="import" href="../organisms/dorel-section-product-video.html">
<link rel="import" href="../organisms/dorel-section-product-usps.html">
<link rel="import" href="../utils/dorel-magento-collect-product-by-sku.html">

<link rel="import" href="dorel-template-404.html">

<dom-module id="dorel-template-product-detail">
  <template>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        float: left;
        width: 100%;
      }

      .loading-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
      }

      @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @-moz-keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          opacity: 1 \9; /* IE9 only */
        }
        to {
          opacity: 1;
        }
      }

    </style>

    <dorel-magento-collect-product-by-sku
      product-name="[[ routeData.productName ]]"
      current-product="{{ product }}"
      app-cache="[[ appCache ]]"
      retrieving-product="{{ retrievingProduct }}"></dorel-magento-collect-product-by-sku>

    <!-- define routing for products -->
    <app-route
      route="{{ route }}"
      pattern="/:productName"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <template is="dom-if" if="[[ retrievingProduct ]]">
      <div class="loading-wrapper">
        <dorel-loader loading="[[ retrievingProduct ]]"></dorel-loader>
      </div>
    </template>

    <div class="wrapper">

      <template
        is="dom-if"
        if="[[ _isProductNotSet(product, retrievingProduct) ]]">
        <dorel-template-404 name="404"></dorel-template-404>
      </template>


      <template
        is="dom-if"
        if="[[ _isProductSet(product, retrievingProduct) ]]">

        <dorel-section-product-showcase
          accessory-scroll-handler="{{ accessoryScrollHandler }}"
          app-cache="[[ appCache ]]"
          showcase-data="[[ product ]]"
          gtm-parent="dorel-section-product-showcase"
          gtm-parent-index="1">
        </dorel-section-product-showcase>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'dorel-template-product-detail',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: String
        },

        /**
         * @name routeData
         * @description the route data contains the last segment under productName
         */
        routeData: {
          type: Object
        },

        /**
         * @name accessoryScrollHandler
         * @description the offset to the accessory section
         **/
        accessoryScrollHandler: {
          type: Boolean,
          notify: true,
          value: false,
        },

        /**
         * @attribute
         * @name category
         * @description the category that will be used by product-collect
         */
        category: {
          type: Number,
          value: 0
        },

        /**
         * @attribute
         * @name colorMap
         * @description the colorMapping that will be used by product-collect
         */
        colorMap: {
          type: Array
        },

        /**
         * @attribute
         * @name loaded
         * @description a Boolean that will be used to show or hide the page
         */
        retrievingProduct: {
          type: Boolean,
          value: true
        },

        /**
         * @attribute
         * @name product
         * @description the current product
         */
        product: {
          type: Object,
          value: {}
        },

        /**
         * @attribute
         * @name appCache
         * @description the temporary cache of the application,
         * contains data that used to be contained by the globalsManager
         */
        appCache: {
          type: Object
        },

      },

      behaviors: [TemplateBehaviors]
    });
  </script>
</dom-module>
