<link rel="import" href="../organisms/dorel-section-category-about-header.html">
<link rel="import" href="../organisms/dorel-section-category-about-sub-categories.html">
<link rel="import" href="../organisms/dorel-section-cards.html">

<dom-module id="dorel-template-product-category-about">
  <template>
    <style>
      dorel-section-page-nav {
        width: 100%;
      }

      dorel-section-cards {
        margin-top: 0;
      }

    </style>

    <div tablet-medium-up$="{{ breakpoints.tabletMediumUp }}"
         desktop-small-up$="{{ breakpoints.desktopSmallUp }}">
          
      <!-- category-about-header -->
      <template
        is="dom-if"
        if="[[templateData.acf.hero_header.length]]"> 
        <dorel-section-category-about-header
          template-data="[[heroHeader]]"></dorel-section-category-about-header>
          
          <!-- page-nav -->
          <dorel-section-page-nav
            breadcrumbs-toggle="true"></dorel-section-page-nav>
          <!--// page-nav -->

      </template>
      <!--// category-about-header -->

      <!-- about cards -->
      <template
        is="dom-if"
        if="[[sectionCards.cards.length]]">
        <dorel-section-cards
          cards-data="[[sectionCards]]"
          cta-type="secondary" 
          compact="true"></dorel-section-cards>
      </template>
      <!--// about cards -->

      <!-- category-about-sub-categories -->
      <template
        is="dom-if"
        if="[[templateData.acf.about_sub_categories.length]]"> 
        <dorel-section-category-about-sub-categories
          template-data="[[aboutSubCategories]]"></dorel-section-category-about-sub-categories>
      </template>
      <!--// category-about-sub-categories -->

  </template>

  <script>
    Polymer({
      is: 'dorel-template-product-category-about',

      properties: {

        /**
         * @attribute
         * @name templateData
         * @description the data coming from ACF/Wordpress which is delegated to the page builder
         */
        templateData: {
          type: Object,
          value: function() {
            return {};
          },
          observer: '_defineComponentModels'
        },

        /**
         * @name homeHeaderData
         * @description the data model used for the hero header component
         */
        heroHeaderData: Object,

        /**
         * @name aboutSubCategories
         * @description the data model used for the sub categories component
         */
        aboutSubCategories: Object,

        /**
         * @name sectionCards
         * @description the data model used for the cards component
         */
        sectionCards: Object
      },

      behaviors: [TemplateBehaviors],
    });
  </script>
</dom-module>
