<dom-module id="dorel-layout-row" align="[[ align ]]" reverse$="[[ reverse ]]">
  <template>
    <style>
      :host {
        @apply(--theme-grid-row);
        @apply(--layout-flex);
        @apply(--theme-grid-row-margins);
        justify-content: center;
        width: auto;
        clear: both;
        text-align: left;
      }

      :host-context([align="left"]) {
        justify-content: flex-start;
      }

      :host-context([align="right"]) {
        justify-content: flex-end;
      }

      :host-context([reverse]) {
        flex-direction: row-reverse;
      }
    </style>
    <slot></slot>
  </template>

  <script>
    Polymer({
      is: 'dorel-layout-row',
      properties: {
        align: {
          type: String,
          value: 'center'
        },
        /**
         * @attribute
         * @name reverse
         * @description reverts the flex direction of this row, items will be shown in reversed order
         *              when this is used the alignment will reverse as well!, left will be right and vice versa
         */
        reverse: {
          type: Boolean,
          value: false
        }
      }
    });
  </script>
</dom-module>