<link rel="import" href="../../utils/grid-mixins.html">

<dom-module id="dorel-layout-row">
  <template>
    <style include="grid-mixins"></style>
    <style>
      h1, h2, h3, h4 {
        @apply(--theme-header-text-transform);
      }

      :host {
        float: left;
        width: 100%;
      }

      section {
        @apply(--theme-grid-row);
        @apply(--layout-flex);
        @apply(--theme-grid-row-margins);
        justify-content: center;
        width: auto;
        clear: both;
        text-align: left;
      }

      [align="left"] {
        justify-content: flex-start;
      }

      [align="right"] {
        justify-content: flex-end;
      }

      [reverse] {
        flex-direction: row-reverse;
      }

      ::slotted([mobile-column-span="1"]) { @apply --column-span-1;}
      ::slotted([mobile-column-span="2"]) { @apply --column-span-2;}
      ::slotted([mobile-column-span="3"]) { @apply --column-span-3;}
      ::slotted([mobile-column-span="4"]) { @apply --column-span-4;}
      ::slotted([mobile-column-span="5"]) { @apply --column-span-5;}
      ::slotted([mobile-column-span="6"]) { @apply --column-span-6;}
      ::slotted([mobile-column-span="7"]) { @apply --column-span-7;}
      ::slotted([mobile-column-span="8"]) { @apply --column-span-8;}
      ::slotted([mobile-column-span="9"]) { @apply --column-span-9;}
      ::slotted([mobile-column-span="10"]) { @apply --column-span-10;}
      ::slotted([mobile-column-span="11"]) { @apply --column-span-11;}
      ::slotted([mobile-column-span="12"]) { @apply --column-span-12;}

      [tablet-medium] ::slotted([tablet-column-span="1"]) { @apply --column-span-1;}
      [tablet-medium] ::slotted([tablet-column-span="2"]) { @apply --column-span-2;}
      [tablet-medium] ::slotted([tablet-column-span="3"]) { @apply --column-span-3;}
      [tablet-medium] ::slotted([tablet-column-span="4"]) { @apply --column-span-4;}
      [tablet-medium] ::slotted([tablet-column-span="5"]) { @apply --column-span-5;}
      [tablet-medium] ::slotted([tablet-column-span="6"]) { @apply --column-span-6;}
      [tablet-medium] ::slotted([tablet-column-span="7"]) { @apply --column-span-7;}
      [tablet-medium] ::slotted([tablet-column-span="8"]) { @apply --column-span-8;}
      [tablet-medium] ::slotted([tablet-column-span="9"]) { @apply --column-span-9;}
      [tablet-medium] ::slotted([tablet-column-span="10"]) { @apply --column-span-10;}
      [tablet-medium] ::slotted([tablet-column-span="11"]) { @apply --column-span-11;}
      [tablet-medium] ::slotted([tablet-column-span="12"]) { @apply --column-span-12;}

      [tablet-medium-up] ::slotted([desktop-column-span="1"]) { @apply --column-span-1;}
      [tablet-medium-up] ::slotted([desktop-column-span="2"]) { @apply --column-span-2;}
      [tablet-medium-up] ::slotted([desktop-column-span="3"]) { @apply --column-span-3;}
      [tablet-medium-up] ::slotted([desktop-column-span="4"]) { @apply --column-span-4;}
      [tablet-medium-up] ::slotted([desktop-column-span="5"]) { @apply --column-span-5;}
      [tablet-medium-up] ::slotted([desktop-column-span="6"]) { @apply --column-span-6;}
      [tablet-medium-up] ::slotted([desktop-column-span="7"]) { @apply --column-span-7;}
      [tablet-medium-up] ::slotted([desktop-column-span="8"]) { @apply --column-span-8;}
      [tablet-medium-up] ::slotted([desktop-column-span="9"]) { @apply --column-span-9;}
      [tablet-medium-up] ::slotted([desktop-column-span="10"]) { @apply --column-span-10;}
      [tablet-medium-up] ::slotted([desktop-column-span="11"]) { @apply --column-span-11;}
      [tablet-medium-up] ::slotted([desktop-column-span="12"]) { @apply --column-span-12;}
    </style>
    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>

    <section tablet-medium-up$="[[ breakpoints.tabletMediumUp ]]"
             tablet-medium$="[[ breakpoints.tabletMedium]]" align$="[[ align ]]" reverse$="[[ reverse ]]">
      <slot></slot>
    </section>
  </template>

  <script>
    Polymer({
      is: 'dorel-layout-row',
      properties: {
        align: {
          type: String,
          value: 'center',
          reflectToAttribute: true
        },
        /**
         * @attribute
         * @name reverse
         * @description reverts the flex direction of this row, items will be shown in reversed order
         *              when this is used the alignment will reverse as well!, left will be right and vice versa
         */
        reverse: {
          type: Boolean,
          value: false
        }
      }
    });
  </script>
</dom-module>
