<link rel="import" href="../dorel-component-guide-shared-styles.html">
<link rel="import" href="../../../utils/behaviors/single/dorel-component-guide-behaviour.html">

<script src="../pages/dorel-component-guide-basic-data.js"></script>

<dom-module id="dorel-component-guide-basic">
  <template>
    <style include="dorel-component-guide-shared-styles">
      :host, iron-pages {
        float: left;
        width: 100%;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:tabIndex"
      data="{{ subrouteData }}"></app-route>

    <section>
      <dorel-layout-container>
        <dorel-nav-tabs title="title" selected="{{ subrouteData.tabIndex }}" tabs="[[ components ]]"></dorel-nav-tabs>
      </dorel-layout-container>

      <iron-pages class="component-guide__content"
                  selected="[[ subrouteData.tabIndex ]]"
                  attr-for-selected="index">
        <dorel-component-guide-introduction brand="[[ brand ]]"
                                            subroute="[[ subrouteData.tabIndex ]]"
                                            index="0"></dorel-component-guide-introduction>
        <dorel-component-guide-typography index="1"></dorel-component-guide-typography>
        <dorel-component-guide-layout index="2"></dorel-component-guide-layout>
        <dorel-component-guide-colors brand="[[ brand ]]" index="3"></dorel-component-guide-colors>
        <dorel-component-guide-buttons index="4"></dorel-component-guide-buttons>
        <dorel-component-guide-forms index="5"></dorel-component-guide-forms>
        <dorel-component-guide-breakpoints index="6"></dorel-component-guide-breakpoints>
        <dorel-component-guide-images index="7"></dorel-component-guide-images>
        <dorel-component-guide-accordions index="8"></dorel-component-guide-accordions>
      </iron-pages>
    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-basic',
      observers: ['_navSelectChanged(subrouteData.tabIndex)'],
      behaviors: [componentGuideBehavior],
      properties: {
        /**
         * @name brand
         * @description defines the brand
         */
        brand: {
          type: Object,
          notify: true,
          readOnly: false
        },
        components: {
          type: Array,
          value: function () {
            return basicComponents;
          }
        }
      }
    });
  </script>
</dom-module>
