<link rel="import" href="../dorel-component-guide-shared-styles.html">
<link rel="import" href="../../../utils/behaviors/single/dorel-component-guide-behaviour.html">
<link rel="import" href="../../../utils/behaviors/single/dorel-value-behavior.html">

<script src="../pages/dorel-component-guide-complex-data.js"></script>

<dom-module id="dorel-component-guide-complex">
  <template>
    <style include="dorel-component-guide-shared-styles">
      :host, iron-pages {
        float: left;
        width: 100%;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:tabIndex"
      data="{{ subrouteData }}"></app-route>
    <section>
      <dorel-layout-container>
        <dorel-nav-tabs title="title" selected="{{ subrouteData.tabIndex }}"
                        tabs="[[ components ]]"></dorel-nav-tabs>
      </dorel-layout-container>

      <div class="component-guide-container">
        <iron-pages class="component-guide__content"
                    selected="[[ subrouteData.tabIndex ]]"
                    on-selected-changed="_pageSelected"
                    attr-for-selected="index">
          <dorel-component-guide-home index="0"></dorel-component-guide-home>
          <dorel-component-guide-product-detail app-cache="[[ appCache ]]"
                                                index="1"></dorel-component-guide-product-detail>
          <dorel-component-guide-product-widgets index="2"></dorel-component-guide-product-widgets>
          <dorel-component-guide-multilingual index="3"></dorel-component-guide-multilingual>
          <dorel-component-guide-category-about index="4"></dorel-component-guide-category-about>
          <dorel-component-guide-service index="5"></dorel-component-guide-service>
          <dorel-component-guide-info-pages index="6"></dorel-component-guide-info-pages>
          <dorel-component-guide-cards index="7"></dorel-component-guide-cards>
          <dorel-component-guide-video index="8"></dorel-component-guide-video>
          <dorel-component-guide-text-image-block index="9"></dorel-component-guide-text-image-block>

          <!-- pages that can contain video need to be restamped, otherwise video's (with sound) can keep playing in the background -->
          <template is="dom-if" if="[[ _isValue(subrouteData.tabIndex, '10') ]]" restamp="true">
            <dorel-component-guide-marketing-campaign index="10"></dorel-component-guide-marketing-campaign>
          </template>

        </iron-pages>
      </div>

    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-complex',
      observers: ['_navSelectChanged(subrouteData.tabIndex)'],
      behaviors: [componentGuideBehavior, ValueBehavior],
      properties: {
        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        },
        components: {
          type: Array,
          value: function () {
            return complexComponents;
          }
        }
      }
    });
  </script>
</dom-module>
