<link rel="import" href="../dorel-component-guide-shared-styles.html">
<link rel="import" href="../../../utils/behaviors/single/dorel-component-guide-behaviour.html">

<dom-module id="dorel-component-guide-complex">
  <template>
    <style include="dorel-component-guide-shared-styles">
      :host, iron-pages {
        float: left;
        width: 100%;
      }

    </style>

    <app-route
      route="{{ route }}"
      pattern="/:componentName"
      data="{{ subrouteData }}"></app-route>
    <section>

      <!-- Important! The topic attribute should correspond with the template.-->
      <!-- So for topic="introduction", there should be a dorel-component-guide-introduction.html -->
      <dorel-layout-container>
        <paper-menu id="topics"
                    selected="{{ subrouteData.componentName }}"
                    attr-for-selected="topic">
          <paper-item topic="home">Home</paper-item>
          <paper-item topic="product-detail">Product Detail</paper-item>
          <paper-item topic="product-widgets">Product Widgets</paper-item>
          <paper-item topic="multilingual">Multilingual</paper-item>
          <paper-item topic="category-about">Category About</paper-item>
          <paper-item topic="service">Service</paper-item>
          <paper-item topic="info-pages">Info Pages</paper-item>
          <paper-item topic="cards">Cards</paper-item>
          <paper-item topic="video">Video</paper-item>
          <paper-item topic="text-image-block">Text/Image Block</paper-item>
        </paper-menu>
      </dorel-layout-container>
      <!-- Important! The topic attribute should correspond with the template.-->
      <!-- So for topic="introduction", there should be a dorel-component-guide-introduction.html -->
      <div class="component-guide-container">
        <iron-pages class="component-guide__content"
                    selected="[[ subrouteData.componentName ]]"
                    on-selected-changed="_pageSelected"
                    attr-for-selected="topic">
          <dorel-component-guide-home topic="home"></dorel-component-guide-home>
          <dorel-component-guide-product-detail app-cache="[[ appCache ]]"
                                                topic="product-detail"></dorel-component-guide-product-detail>
          <dorel-component-guide-product-widgets topic="product-widgets"></dorel-component-guide-product-widgets>
          <dorel-component-guide-multilingual topic="multilingual"></dorel-component-guide-multilingual>
          <dorel-component-guide-category-about topic="category-about"></dorel-component-guide-category-about>
          <dorel-component-guide-service topic="service"></dorel-component-guide-service>
          <dorel-component-guide-info-pages topic="info-pages"></dorel-component-guide-info-pages>
          <dorel-component-guide-cards topic="cards"></dorel-component-guide-cards>
          <dorel-component-guide-video topic="video"></dorel-component-guide-video>
          <dorel-component-guide-text-image-block topic="text-image-block"></dorel-component-guide-text-image-block>
          
        </iron-pages>
      </div>

    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-complex',
      behaviors: [componentGuideBehavior],
      properties: {
        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        },
      }

    });
  </script>
</dom-module>
