<link rel="import" href="../dorel-component-guide-shared-styles.html">
<link rel="import" href="../../../utils/behaviors/single/dorel-component-guide-behaviour.html">

<dom-module id="dorel-component-guide-basic">
  <template>
    <style include="dorel-component-guide-shared-styles">
      :host {
        float: left;
        width: 100%;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:componentName"
      data="{{ subrouteData }}"></app-route>

    <section>
      <!-- Important! The topic attribute should correspond with the template.-->
      <!-- So for topic="introduction", there should be a dorel-component-guide-introduction.html -->
      <dorel-layout-container>
        <paper-menu id="topics"
                    selected="{{ subrouteData.componentName }}"
                    attr-for-selected="topic">
          <paper-item topic="introduction">Introduction</paper-item>
          <paper-item topic="typography">Typography</paper-item>
          <paper-item topic="layout">Layout & Sizes</paper-item>
          <paper-item topic="colors">Colors</paper-item>
          <paper-item topic="buttons">Buttons</paper-item>
          <paper-item topic="forms">Forms</paper-item>
          <paper-item topic="breakpoints">Breakpoints</paper-item>
          <paper-item topic="images">Images</paper-item>
        </paper-menu>
      </dorel-layout-container>
      <!-- Important! The topic attribute should correspond with the template.-->
      <!-- So for topic="introduction", there should be a dorel-component-guide-introduction.html -->
        <iron-pages class="component-guide__content"
                    selected="[[ subrouteData.componentName ]]"
                    on-selected-changed="_pageSelected"
                    attr-for-selected="topic">
          <dorel-component-guide-introduction brand="{{ brand }}"
                                              subroute="[[ subrouteData.componentName ]]"
                                              topic="introduction"></dorel-component-guide-introduction>
          <dorel-component-guide-typography topic="typography"></dorel-component-guide-typography>
          <dorel-component-guide-layout topic="layout"></dorel-component-guide-layout>
          <dorel-component-guide-colors topic="colors"></dorel-component-guide-colors>
          <dorel-component-guide-buttons topic="buttons"></dorel-component-guide-buttons>
          <dorel-component-guide-forms topic="forms"></dorel-component-guide-forms>
          <dorel-component-guide-breakpoints topic="breakpoints"></dorel-component-guide-breakpoints>
          <dorel-component-guide-images topic="images"></dorel-component-guide-images>
        </iron-pages>
    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-basic',
      behaviors: [componentGuideBehavior]
    });
  </script>
</dom-module>
