<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-home">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-section-hero-header {
        margin-top: 1.5em;
      }

      dorel-section-cta {
        margin-top: 3em;
      }
    </style>
    <h1 class="class-for-h1">Home</h1>
    <p>
      Components used for the home page
    </p>
    <hr>
    <h1 class="class-for-h2">Section Hero Header</h1>
    <dorel-section-hero-header hero-header-data="[[ heroHeaderData ]]"></dorel-section-hero-header>
    <hr>
    <h2 class="class-for-h2">Section CTA's</h2>
    <dorel-section-cta cta-data="[[ sectionCtaData ]]"></dorel-section-cta>
    <hr>
    <h2 class="class-for-h2">Section Heroes</h2>
    <dorel-section-heroes heroes-data="[[ heroesData ]]"></dorel-section-heroes>
    <hr>
    <h2 class="class-for-h2">Section Cards</h2>
    <dorel-section-cards cards-data="[[ cardsData ]]"></dorel-section-cards>
    <hr>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-home',
      properties: {
        brand: {
          type: String
        },
        heroHeaderData: {
          type: Object,
          value: {
            'title': 'Lorem ipsum dolor sit amet',
            'sub_title': 'Lorem ipsum dolor sit amet',
            'cta_toggle': true,
            'background_image': 'https://unsplash.it/1280/720?image=1066',
            'cta_text': 'Watch video'
          }
        },
        sectionCtaData: {
          type: Object,
          value: {
            'ctas': [
              {
                'cta_text': 'Strollers',
                'cta_icon': 'stroller'
              },
              {
                'cta_text': 'Feeding & Care',
                'cta_icon': 'feeding-care'
              },
              {
                'cta_text': 'Carseats',
                'cta_icon': 'car-seat'
              },
            ]
          }
        },
        heroesData: {
          type: Object,
          value: {
            'heroes': [{
              'background_image': 'https://unsplash.it/1280/720?image=822',
              'overlay_image': '',
              'title': 'Lorem ipsum dolor sit amet',
              'sub_title': 'Lorem ipsum dolor sit amet',
              'cta_toggle': true,
              'cta_text': 'Reade more'
            },
              {
                'background_image': 'https://unsplash.it/1280/720?image=1083',
                'overlay_image': '',
                'title': 'Lorem ipsum dolor sit amet',
                'sub_title': 'Lorem ipsum dolor sit amet',
                'cta_toggle': true,
                'cta_text': 'Reade more'
              }]
          }
        },
        cardsData: {
          type: Object,
          value: {
            'cards': [{
              'card_title': 'Lorem ipsum',
              'card_text': 'Lorem ipsum dolor sit amet',
              'card_image': 'https://unsplash.it/1280/720?image=1001',
              'cta_toggle': true,
              'cta_text': true,
            }, {
              'card_title': 'Lorem ipsum',
              'card_text': 'Lorem ipsum dolor sit amet',
              'card_image': 'https://unsplash.it/1280/720?image=838',
              'cta_toggle': true,
              'cta_text': true,
            }],
          },
        },
      }
    });
  </script>
</dom-module>
