<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../molecules/dorel-360-product.html">
<link rel="import" href="../../organisms/dorel-section-small-slides.html">

<dom-module id="dorel-component-guide-product-widgets">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-360-product {
        margin-top: 1.5em;
        float: left;
        width: 100%;
      }

    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Product Widgets</h1>
      <p>
        This section details product widgets and interactions
      </p>
      <hr>
      <h2 class="class-for-h2">Small slides</h2>
    </dorel-layout-container>

    <dorel-section-small-slides></dorel-section-small-slides>

    <dorel-layout-container>
      <hr>
      <h2 class="class-for-h2">360 Product Viewer</h2>
      <p>The 360 product viewer first preloads a series of images, and becomes interactive to touch/dragging once they
        have been preloaded.</p>
      <dorel-360-product rotation-image-paths="[[ productImages ]]"></dorel-360-product>
    </dorel-layout-container>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-product-widgets',
      properties: {
        productImages: {
          type: Array,
          value: [
            '../../../assets/images/360viewer/01.jpg',
            '../../../assets/images/360viewer/02.jpg',
            '../../../assets/images/360viewer/03.jpg',
            '../../../assets/images/360viewer/04.jpg',
            '../../../assets/images/360viewer/05.jpg',
            '../../../assets/images/360viewer/06.jpg',
            '../../../assets/images/360viewer/07.jpg',
            '../../../assets/images/360viewer/08.jpg',
            '../../../assets/images/360viewer/09.jpg',
            '../../../assets/images/360viewer/10.jpg',
            '../../../assets/images/360viewer/11.jpg',
            '../../../assets/images/360viewer/12.jpg',
            '../../../assets/images/360viewer/13.jpg',
            '../../../assets/images/360viewer/14.jpg',
            '../../../assets/images/360viewer/15.jpg',
            '../../../assets/images/360viewer/16.jpg',
            '../../../assets/images/360viewer/17.jpg',
            '../../../assets/images/360viewer/18.jpg',
            '../../../assets/images/360viewer/19.jpg',
            '../../../assets/images/360viewer/20.jpg',
            '../../../assets/images/360viewer/21.jpg',
            '../../../assets/images/360viewer/22.jpg',
            '../../../assets/images/360viewer/23.jpg',
          ]
        }
      }
    });
  </script>
</dom-module>
