<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../atoms/dorel-bynder-image.html">
<link rel="import" href="../../atoms/dorel-bynder-responsive-image.html">

<dom-module id="dorel-component-guide-images">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-bynder-image {
        float: left;
        display: inline-block;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
      }

      dorel-bynder-responsive-image {
        margin-top: 1.5em;
        float: left;
      }

      .image-container {
        float: left;
        clear: both;
        margin-top: 1.5em;
      }

      ul {
        float: left;
        width: 100%;
      }
    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Images</h1>
      <p>
        The following section documents and displays how images are used throughout our application.
        All images are managed, retrieved and displayed through the Bynder service.
      </p>
      <hr>
      <h2 class="class-for-h2">Regular Bynder Images</h2>
      <p>Bynder images use a dedicated component which accepts a bynder media-id as a property.
        Fine-grained control over the width and height of the image can be specified through the component's properties.
        These allow settings for image sizes for mobile, tablets and larger screens.</p>
      <p>Derivatives are cropped in widescreen and fullscreen aspect ratios, which have a small and a retina
        version.</p>
      <p>The Bynder derivative can be specified using the 'derivative-identifier' attribute, which currently accepts the
        following values:</p>
      <ul>
        <li>Widescreen Small portrait</li>
        <li>Widescreen Small landscape</li>
        <li>Widescreen Retina portrait</li>
        <li>Widescreen Retina landscape</li>
        <li>Fullscreen Small portrait</li>
        <li>Fullscreen Small landscape</li>
        <li>Fullscreen Retina portrait</li>
        <li>Fullscreen Retina landscape</li>
        <li>mini</li>
        <li>webimage</li>
      </ul>
      <div class="image-container">
        <dorel-bynder-image media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"
                            derivative-identifier="Fullscreen Small landscape"
                            mobile-width="26em"
                            mobile-height="18em"
                            tablet-width="26em"
                            tablet-height="18em"
                            width="26em"
                            height="18em"></dorel-bynder-image>
        <dorel-bynder-image media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"
                            derivative-identifier="Fullscreen Small landscape"
                            mobile-width="26em"
                            mobile-height="18em"
                            tablet-width="26em"
                            tablet-height="18em"
                            width="26em"
                            height="18em"></dorel-bynder-image>
        <dorel-bynder-image media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"
                            derivative-identifier="Fullscreen Small landscape"
                            mobile-width="13em"
                            mobile-height="9em"
                            tablet-width="13em"
                            tablet-height="9em"
                            width="13em"
                            height="9em"></dorel-bynder-image>
        <dorel-bynder-image media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"
                            derivative-identifier="Fullscreen Small landscape"
                            mobile-width="6.5em"
                            mobile-height="4.5em"
                            tablet-width="6.5em"
                            tablet-height="4.5em"
                            width="6.5em"
                            height="4.5em"></dorel-bynder-image>
      </div>
      <hr>
      <h2 class="class-for-h2">Full-screen Responsive Bynder Images</h2>
    </dorel-layout-container>
    <dorel-bynder-responsive-image image-type="full-screen"
                                   media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"></dorel-bynder-responsive-image>
    <dorel-layout-container>
      <hr>
      <h2 class="class-for-h2">Wide-screen Responsive Bynder Images</h2>
    </dorel-layout-container>
    <dorel-bynder-responsive-image media-id="7F84BD5F-551A-4DA5-8532AB44763439AA"></dorel-bynder-responsive-image>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-images',
    });
  </script>
</dom-module>