<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../organisms/dorel-service-faq-overview.html">
<link rel="import" href="../../organisms/dorel-service-faq-detail.html">

<dom-module id="dorel-component-guide-service">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style></style>
    <section class="content-container">
      <h1 class="class-for-h1">Service Components</h1>
      <p>
        Components used for the service pages
      </p>
      <hr>
      <h1 class="class-for-h2">FAQ Detail</h1>
    </section>
    <dorel-service-faq-overview faq-overview="[[ faqOverview ]]"></dorel-service-faq-overview>
    <section class="content-container">
      <hr>
      <h1 class="class-for-h2">FAQ Detail</h1>
    </section>
    <dorel-service-faq-detail></dorel-service-faq-detail>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-service',
      properties: {
        faqOverview: {
          type: Array,
          value: [{
            'title': 'Safety & Care',
            'icon': 'dorel-icons:help-outline',
            'questions': [
              {'title': 'First Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Second Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Third Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Fourth Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
            ]
          }, {
            'title': 'Warranty',
            'icon': 'dorel-icons:help-outline',
            'questions': [
              {'title': 'First Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Second Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Third Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Fourth Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
            ]
          }, {
            'title': 'Repairs & Replacements',
            'icon': 'dorel-icons:help-outline',
            'questions': [
              {'title': 'First Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Second Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Third Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              {'title': 'Fourth Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
            ]
          }],
        },
      }
    });
  </script>
</dom-module>
