<link rel="import" href="dorel-component-guide-shared-styles.html">
<dom-module id="dorel-component-guide-introduction">
  <template>
    <style include="dorel-component-guide-shared-styles">
      .cta-wrapper {
        display: flex;
      }

      .cta-wrapper dorel-cta {
        margin-right: 1.5rem;
      }
    </style>

    <dorel-layout-container>
      <h1 class="class-for-h1">An introduction to the [[ brand.label ]] component guide</h1>
      <p>
        The Dorel component guide introduces the building blocks of our pages.
        These components use shared styles, which can be re-used by frontend developers and designers to achieve
        consistency across pages.
      </p>
      <hr>
      <h2 class="class-for-h2">Keyboard shortcuts</h2>
      <p>
        This component guide offers a few tools like switching between grids and brands that are accessible in the top
        toolbar. To use these tools on other pages without having to access the component
        guide, use the following keyboard shortcuts:
      </p>
      <table>
        <thead>
        <tr>
          <th>Shortcut</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>shift+enter</td>
          <td>Toggle horizontal grid</td>
        </tr>
        <tr>
          <td>shift+backspace</td>
          <td>Toggle Vertical Grid</td>
        </tr>
        <tr>
          <td>shift+right</td>
          <td>Switch to next brand</td>
        </tr>
        <tr>
          <td>shift+left</td>
          <td>Switch to previous brand</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h2 class="class-for-h2">Switching between brands</h2>
      <p>Each Dorel brand has a unique visual style, which is established in this project's shared styles.</p>
      <p>
        Shared styles live in the <i>theme directory</i>, and can be adjusted to the needs of the brand.
        These adjustments are automatically included and viewable here.
      </p>
      <hr>
      <h2 class="class-for-h2">Switching between brands by url</h2>
      <p>
        You can also switch Brands by changing the url. For example if you add <i>?brand=Dorel</i> at the end of the url
        the brand will change to Dorel.
      </p>
      <hr>
      <h2 class="class-for-h2">For developers</h2>
      <p>In this component guide, the shared styles are documented in tables and can be copied for re-use. The tables
        are
        structured as follows:</p>
      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-variable-name</code></td>
          <td>A variable name used for the current brand.</td>
        </tr>
        <tr>
          <td><code>--theme-mixin-name</code></td>
          <td>A name used for the current brand. <i>Mixins are always indicated in the description</i></td>
        </tr>
        </tbody>
      </table>
    </dorel-layout-container>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-introduction',
      properties: {
        brand: {
          type: String
        }
      }
    });
  </script>
</dom-module>
