<link rel="import" href="../../organisms/dorel-section-hero-header.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">

<script src="mocks/hero-header/hero-header.js"></script>

<dom-module id="dorel-component-guide-video">
  <template>

    <style include="dorel-component-guide-shared-styles"></style>

    <dorel-media-query breakpoints="{{ breakpoints }}"></dorel-media-query>

    <dorel-layout-container>
      <h1 class="class-for-h1">Video</h1>
      <p>Components used for playing video</p>
      <hr>
      <h1 class="class-for-h2">Section Hero Header (with video cta)</h1>
    </dorel-layout-container>

    <dorel-section-hero-header hero-header-data="[[heroHeaderData]]"></dorel-section-hero-header>

  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-video',
      properties: {
        heroHeaderData: {
          type: Object,
          value: heroHeaderVideoLightboxMock
        },
        appCache: {
          type: Object,
          value: function () {
            return {};
          }
        }
      }
    });
  </script>
</dom-module>
