<dom-module id="dorel-component-guide-shared-styles">
  <template>
    <style is="custom-style">
      :host {
        font-size: var(--theme-base-font-size);
      }

      .class-for-h1 {
        @apply(--theme-typography-8);
        clear: both;
      }

      .class-for-h2 {
        @apply(--theme-typography-6);
      }

      .class-for-h3 {
        @apply(--theme-typography-4);
      }

      .content-container {
        @apply(--max-width-container);
        padding: 0 var(--theme-gutter);
        box-sizing: border-box;
        width: 100%;
      }

      p {
        @apply(--theme-paragraph-text);
      }

      .class-for-h1, .class-for-h2, p {
        clear: both;
        float: left;
        width: 100%;
      }

      hr {
        clear: both;
        margin: 0;
        border: 0;
        padding-bottom: var(--theme-scale-3);
        box-shadow: inset 0 -1px 0 0 var(--theme-color-monochrome-2);
      }

      table {
        @apply(--theme-typography-1);
        background-color: var(--theme-color-monochrome-2);
        margin-top: 1.75em;
        line-height: calc(var(--theme-scale-3));
        /* Note: we're using pixels here because the ems because of table styling quirks */
        padding: 23px;
        clear: both;
        float: left;
      }

      thead tr {
        box-shadow: inset 0 -1px 0 0 var(--theme-color-monochrome-3);
      }

      th, tr, td {
        /* Substracting 2px to correct for vertical rhytmn */
        line-height: var(--theme-scale-3);
        height: var(--theme-scale-3);
        padding: 0 var(--theme-scale-3) 0 0;
        text-align: left;
        font-weight: normal;

      }

      .container-fluid {
        margin-right: auto;
        margin-left: auto;
        float: left;
        width: 100%;
        box-sizing: border-box;
      }

      .container-standout {
        margin-top: var(--theme-scale-3);
        margin-bottom: var(--theme-scale-2);
        padding: var(--theme-scale-3);
      }

      .row {
        @apply(--theme-grid-row);
      }

      [tablet-medium-up] .content-container {
        padding: 0 var(--theme-gutter);
      }
      
      .dark-bg {
        background-color: var(--theme-color-monochrome-7);
      }
    </style>
  </template>
</dom-module>