<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="utils/dorel-code-snippet.html">

<dom-module id="dorel-component-guide-accordions">
  <template>
    <style include="dorel-component-guide-shared-styles">
      p {
        margin-top: 0;
      }
    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Accordions</h1>
      <p>this section shows the different types of accordions.</p>
      <hr>
      <h2 class="class-for-h2">Regular Accordions</h2>
      <dorel-code-snippet>
        <dorel-layout-row align="left">
          <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
          </dorel-layout-column>
        </dorel-layout-row>
      </dorel-code-snippet>
      <hr>
      <h2 class="class-for-h2">Small Accordions</h2>
      <dorel-code-snippet>
        <dorel-layout-row align="left">
          <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
          </dorel-layout-column>
        </dorel-layout-row>
      </dorel-code-snippet>
      <hr>

      <h2 class="class-for-h2">Small Accordions with left icon</h2>
      <dorel-code-snippet>
        <dorel-layout-row align="left">
          <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  icon="dorel-icons:mail"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  icon="dorel-icons:phone"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  small
                                  icon="dorel-icons:cart"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here -->
              <p>Lorem ipsum content here.</p>
            </dorel-accordion-item>
          </dorel-layout-column>
        </dorel-layout-row>
      </dorel-code-snippet>
      <hr>

      <h2 class="class-for-h2">Nested Accordions</h2>
      <dorel-code-snippet>
        <dorel-layout-row align="left">
          <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <!-- Add any type of content here (in this case it's another accordion -->
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
            </dorel-accordion-item>
            <dorel-accordion-item heading="Lorem Ipsum Heading"
                                  gtm-parent="[[ gtmParent ]]"
                                  gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
              <dorel-accordion-item heading="Lorem Ipsum Heading"
                                    small
                                    light
                                    gtm-parent="[[ gtmParent ]]"
                                    gtm-parent-index="[[ gtmParentIndex ]]" gtm-cta-index$="[[ index ]]">
                <!-- Add any type of content here -->
                <p>Lorem ipsum content here.</p>
              </dorel-accordion-item>
            </dorel-accordion-item>
          </dorel-layout-column>
        </dorel-layout-row>
      </dorel-code-snippet>
    </dorel-layout-container>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-accordions'
    });
  </script>
</dom-module>
