<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-colors">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      .color-column {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 2);
        flex-basis: calc(var(--theme-column-width) * 2);
        max-width: calc(var(--theme-column-width) * 2);
      }

      .color {
        min-height: 6em;
        border: 1px solid var(--theme-color-monochrome-2);
        margin-top: -1px;
        margin-bottom: -1px;
      }

      .color--brand-color-1 {
        background-color: var(--theme-brand-color-1);
      }

      .color--brand-color-2 {
        background-color: var(--theme-brand-color-2);
      }

      .color--brand-color-3 {
        background-color: var(--theme-brand-color-3);
      }

      .color--complementary-color-1 {
        background-color: var(--theme-brand-complementary-color-1);
      }

      .color--complementary-color-2 {
        background-color: var(--theme-brand-complementary-color-2);
      }

      .color--complementary-color-3 {
        background-color: var(--theme-brand-complementary-color-3);
      }

      .color--white {
        background-color: var(--theme-color-white);
      }

      .color--black {
        background-color: var(--theme-color-black);
      }

      .color--monochrome-1 {
        background-color: var(--theme-color-monochrome-1);
      }

      .color--monochrome-2 {
        background-color: var(--theme-color-monochrome-2);
      }

      .color--monochrome-3 {
        background-color: var(--theme-color-monochrome-3);
      }

      .color--monochrome-4 {
        background-color: var(--theme-color-monochrome-4);
      }

      .color--monochrome-5 {
        background-color: var(--theme-color-monochrome-5);
      }

      .color--monochrome-6 {
        background-color: var(--theme-color-monochrome-6);
      }

      .color--monochrome-7 {
        background-color: var(--theme-color-monochrome-7);
      }

      p a {
        @apply(--theme-text-link);
      }

      p a:hover, p a:focus {
        @apply(--theme-text-link-active);
      }

    </style>
    <section class="content-container">
      <h1 class="class-for-h1">Colors</h1>
      <p>Color usage will be elaborated here</p>
      <hr>
      <h2 class="class-for-h2">Primary Brand Colors</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="color-column">
            <div class="color color--brand-color-1"></div>
          </div>
          <div class="color-column">
            <div class="color color--brand-color-2"></div>
          </div>
          <div class="color-column">
            <div class="color color--brand-color-3"></div>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th>Shared Style</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>--theme-brand-color-1</code></td>
            <td>Primary brand color 1</td>
          </tr>
          <tr>
            <td><code>--theme-brand-color-2</code></td>
            <td>Primary brand color 2</td>
          </tr>
          <tr>
            <td><code>--theme-brand-color-3</code></td>
            <td>Primary brand color 3</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h2 class="class-for-h2">Complementary Brand Colors</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="color-column">
            <div class="color color--complementary-color-1"></div>
          </div>
          <div class="color-column">
            <div class="color color--complementary-color-2"></div>
          </div>
          <div class="color-column">
            <div class="color color--complementary-color-3"></div>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th>Shared Style</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>--theme-brand-complementary-color-1</code></td>
            <td>Complementary brand color 1</td>
          </tr>
          <tr>
            <td><code>--theme-brand-complementary-color-2</code></td>
            <td>Complementary brand color 2</td>
          </tr>
          <tr>
            <td><code>--theme-brand-complementary-color-3</code></td>
            <td>Complementary brand color 3</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h2 class="class-for-h2">Monochrome Colors</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="color-column">
            <div class="color color--monochrome-1"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-2"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-3"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-4"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-5"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-6"></div>
          </div>
          <div class="color-column">
            <div class="color color--monochrome-7"></div>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th>Shared Style</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>--theme-color-monochrome-1</code></td>
            <td>Monochrome color 1</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-2</code></td>
            <td>Monochrome color 2</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-3</code></td>
            <td>Monochrome color 3</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-4</code></td>
            <td>Monochrome color 4</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-5</code></td>
            <td>Monochrome color 5</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-6</code></td>
            <td>Monochrome color 6</td>
          </tr>
          <tr>
            <td><code>--theme-color-monochrome-7</code></td>
            <td>Monochrome color 7</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h2 class="class-for-h2">White & Black</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="color-column">
            <div class="color color--white"></div>
          </div>
          <div class="color-column">
            <div class="color color--black"></div>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th>Shared Style</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>--theme-color-white</code></td>
            <td>Color white</td>
          </tr>
          <tr>
            <td><code>--theme-color-black</code></td>
            <td>Color black</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h2 class="class-for-h2">Colors in text</h2>
      <p class="class-for-16px">
        Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut
        labore et. Ut enim ad minim veniam, <a href="">quis nostrud exercitation</a> ullamco laboris nisi ut aliquip ex
        ea
        commodo consequat.
      </p>
      <table>
        <thead>
        <tr>
          <th>Custom property</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-color-text-link</code></td>
          <td>Color for links in text</td>
        </tr>
        <tr>
          <td><code>--theme-color-text-link-active</code></td>
          <td>Color for hovered and focused links</td>
        </tr>
        <tr>
          <td><code>--theme-text-link</code></td>
          <td>Mixin with behaviour for links in text</td>
        </tr>
        <tr>
          <td><code>--theme-text-link-active</code></td>
          <td>Mixin with behaviour for focused and hovered links in text</td>
        </tr>
        </tbody>
      </table>
    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-colors',
    });
  </script>
</dom-module>
