<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../atoms/dorel-input.html">
<link rel="import" href="../../atoms/dorel-input-textarea.html">
<link rel="import" href="../../atoms/dorel-input-select.html">
<link rel="import" href="../../atoms/dorel-checkbox.html">

<dom-module id="dorel-component-guide-forms">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      form {
        float: left;
        width: 75%;
        margin-top: 1.5em;
      }

      dorel-input {
        float: left;
        width: 100%;
      }

    </style>

    <h1 class="class-for-h1">Forms</h1>
    <p>
      Specifications for form and input elements
    </p>
    <hr>
    <h2 class="class-for-h2">Input Field</h2>
    <form>
      <dorel-input label="Regular input field"></dorel-input>
      <dorel-input label="Required input field" required></dorel-input>

      <dorel-input label="Invalid input field"
                   error-message="testing this" invalid></dorel-input>

      <dorel-input label="Disabled input field" disabled></dorel-input>
    </form>
    <hr>
    <h2 class="class-for-h2">Textarea Field</h2>
    <form>
      <dorel-input-textarea label="Regular Textarea"></dorel-input-textarea>
      <dorel-input-textarea label="Required Textarea"
                            required></dorel-input-textarea>
      <dorel-input-textarea label="Invalid Textarea"
                            error-message="testing this"
                            invalid></dorel-input-textarea>
      <dorel-input-textarea label="Disabled Textarea"
                            disabled></dorel-input-textarea>
    </form>
    <hr>
    <h2 class="class-for-h2">Select Input Field</h2>
    <form>
      <dorel-input-select label="Regular Select Input"
                          options="[[ selectOptions ]]"></dorel-input-select>
      <dorel-input-select label="Required Select Input"
                          options="[[ selectOptions ]]"
                          required></dorel-input-select>
      <dorel-input-select label="Invalid Select Input"
                          options="[[ selectOptions ]]"
                          error-message="Please select an option"
                          invalid></dorel-input-select>
      <dorel-input-select label="Disabled Select Input"
                          options="[[ selectOptions ]]"
                          disabled></dorel-input-select>
    </form>
    <h2 class="class-for-h2">Checkboxes</h2>
    <form>
      <dorel-checkbox label="Regular checkbox"></dorel-checkbox>
    </form>
    <hr>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-forms',
      properties: {
        selectOptions: {
          type: Array,
          value: [
            {
              label: 'Lorem Ipsum',
              value: 'lorem'
            },
            { 
              label: 'Dlor sit amet',
              value: 'dlor'
            },
            { 
              label: 'Consectetuer adipiscing',
              value: 'consectetuer'
            }
          ]
        }
      }
    });
  </script>
</dom-module>
