<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../atoms/dorel-media-query.html">

<dom-module id="dorel-component-guide-breakpoints">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <dorel-media-query breakpoints="{{ breakpoints }}"
    "></dorel-media-query>
    <h1 class="class-for-h1">Breakpoints and screen sizes</h1>
    <p>
      The following section documents and displays the breakpoints and screen breakpoints.
    </p>
    <hr>
    <h2 class="class-for-h2">
      Current breakpoint(s)
    </h2>
    <!-- <ol>
      <li>
        <h3 class="class-for-h3">Mobile Small</h3>
        <p>0px - </p>
      </li>
    </ol> -->
    <template is="dom-if" if="[[ breakpoints.mobileSmall ]]">
      <p>Mobile Small</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.mobileMedium ]]">
      <p>Mobile Medium</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.tabletSmall ]]">
      <p>Tablet Small</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.tabletMedium ]]">
      <p>Tablet Medium</p>
    </template>
    <template is="dom-if" if="[[  breakpoints.desktopSmall ]]">
      <p>Desktop Small</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.desktopLarge ]]">
      <p>Desktop Large</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.portraitLarge ]]">
      <p>Portrait Large</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.portraitMedium ]]">
      <p>Portrait Medium</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.landscapeSmall ]]">
      <p>Landscape Small</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.landscapeMedium ]]">
      <p>Ladnscape Medium</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.landscapeLarge ]]">
      <p>Landscape Large</p>
    </template>
    <template is="dom-if" if="[[ breakpoints.landscapeExtraLarge ]]">
      <p>Landscape Extra Large</p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-breakpoints',
      properties: {
      },
      ready: function () {
      },
    });
  </script>
</dom-module>
