<dom-module id="dorel-component-guide-layout">
  <template>
    <style>
      :host {
      }
      .class-for-48px {
        @apply(--theme-typography-8);
      }

      .layout-block {
        background-color: var(--theme-brand-color);
        width: auto;
        float: left;
        display: block;
        clear: both;
        margin-right: 1.5000em;
      }


      .layout-block--0 {
        width: 0.75000em;
        height: 0.75000em;
      }

      .layout-block--1 {
        width: 1.5000em;
        height: 1.5000em;
      }

      .layout-block--2 {
        width: 3.000em;
        height: 3.000em;

      }

      .layout-block--3 {
        width: 6.000em;
        height: 6.000em;
      }

      .layout-block--4 {
        width: 9.000em;
        height: 9.000em;
      }

      .layout-wrapper {
        min-height: 1.5em;
        margin-top: 1.5em;
        float: left;
        width: 100%;
      }

      p {
        @apply(--theme-typography-2);
        max-width: var(--theme-base-paragraph-width);
      }

    </style>
    <div>
      <div class="class-for-48px">Layout & Sizes</div>
      <p>
        Layout adheres to a multiple to maintain the vertical rhythmn, which is 1.5em (24px).
        This will be applied to spacing such as margins and paddings.
        The smallest possible spacing we will use is .75em (12px).
      </p>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--0"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--1"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--2"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--3"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--4"></div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-layout',
    });
  </script>
</dom-module>
