<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../atoms/dorel-cta.html">

<dom-module id="dorel-component-guide-buttons">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>

      dorel-cta {
        float: left;
        margin-right: 1.5em;
      }

    </style>
    <h1 class="class-for-h1">Buttons</h1>
    <p>
      Specifications for buttons and CTA's.
    </p>
    <hr>
    <h2 class="class-for-h2">Small buttons</h2>
    <dorel-cta title="Call to action"
               type="primary"
               link=""
               size="small"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="secondary"
               link=""
               size="small"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="tertiary"
               link=""
               size="small"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="link"
               link=""
               size="small"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <hr>
    <h2 class="class-for-h2">Medium buttons </h2>
    <dorel-cta title="Call to action"
               type="primary"
               link=""
               size="medium"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="secondary"
               link=""
               size="medium"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="tertiary"
               link=""
               size="medium"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="link"
               link=""
               size="medium"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <hr>
    <h2 class="class-for-h2">Buttons with additional icons</h2>
    <dorel-cta title="Call to action"
               type="primary"
               link=""
               size="medium"
               extra-icon="dorel-icons:headset-mic"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="secondary"
               link=""
               size="medium"
               extra-icon="dorel-icons:headset-mic"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
    <dorel-cta title="Call to action"
               type="tertiary"
               link=""
               size="medium"
               extra-icon="dorel-icons:headset-mic"
               icon="dorel-icons:chevron-right">
      Call to Action
    </dorel-cta>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-buttons',
    });
  </script>
</dom-module>
