<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../molecules/dorel-multilingual-overlay.html">
<link rel="import" href="../../molecules/dorel-multilingual-country.html">

<dom-module id="dorel-component-guide-multilingual">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-cta {
        float: left;
        width: auto;
        clear: both;
      }

      dorel-multilingual-country {
        margin: .75em 0;
      }
    </style>

    <section class="content-container">
      <h1 class="class-for-h1">Multilingual Components</h1>
      <p>
        This section describes components used for language and country selection purposes.
      </p>
      <hr>
      <h1 class="class-for-h2">Country Overlay</h1>
      <p>
        Click on the button to open the country overlay
      </p>
      <dorel-cta title="Open country overlay"
                 type="primary"
                 link=""
                 size="small"
                 on-click="openOverlay"
                 icon="dorel-icons:chevron-right">
        Open country overlay
      </dorel-cta>
      <dorel-multilingual-overlay id="overlay">
        <p>
        <h1 class="class-for-h3">Add any content you like here</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur dolor eu nunc dapibus, non
          tempor enim gravida. Sed vel diam ante. Etiam nec turpis ut mauris rhoncus euismod. Nam viverra risus
          vitae
        </p>
        <p>
          pellentesque semper. Donec in nibh id mi ultrices iaculis at at lacus. Suspendisse interdum ut ligula non
          fringilla. Donec congue aliquam condimentum. Sed convallis ante et augue porta molestie.
        </p>
      </dorel-multilingual-overlay>
      <hr>
      <h1 class="class-for-h2">Country & Language Select</h1>
      <p>The country select component has a hover state to select the language(s)</p>
      <dorel-multilingual-country></dorel-multilingual-country>
      <dorel-multilingual-country></dorel-multilingual-country>
      <dorel-multilingual-country></dorel-multilingual-country>
      <dorel-multilingual-country></dorel-multilingual-country>
    </section>
  </template>
  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-multilingual',
      properties: {},
      openOverlay: function () {
        this.$$('#overlay').open();
      }
    });
  </script>
</dom-module>
