<script src="mocks/ctas/ctas.js"></script>
<script src="mocks/heroes/heroes.js"></script>
<script src="mocks/cards/cards.js"></script>
<script src="mocks/hero-header/hero-header.js"></script>

<link rel="import" href="../../organisms/dorel-section-hero-header.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-home">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-section-hero-header {
        margin-top: 1.5em;
      }

      dorel-section-cta {
        margin-top: 3em;
      }
    </style>

    <section class="content-container">
      <h1 class="class-for-h1">Home</h1>
      <p>Components used for the home page</p>
      <hr>
      <h1 class="class-for-h2">Section Hero Header</h1>
    </section>
    <dorel-section-hero-header hero-header-data="[[ heroHeaderData ]]"></dorel-section-hero-header>
    <section class="content-container">
      <hr>
      <h1 class="class-for-h2">Section Hero Video Header</h1>
    </section>
    <dorel-section-hero-header hero-header-data="[[ videoHeroData ]]"></dorel-section-hero-header>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section CTA's</h2>
    </section>
    <dorel-section-cta cta-data="[[ sectionCtaData ]]"></dorel-section-cta>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section Heroes</h2>
    </section>
    <dorel-section-heroes heroes-data="[[ heroesData ]]"></dorel-section-heroes>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section Cards</h2>
    </section>
    <dorel-section-cards cards-data="[[ cardsData ]]"></dorel-section-cards>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-home',
      properties: {
        brand: {
          type: String
        },
        videoHeroData: {
          type: Object,
          value: heroHeaderVideoMock
        },
        heroHeaderData: {
          type: Object,
          value: heroHeaderMock
        },
        sectionCtaData: {
          type: Array,
          value: ctaMock
        },
        heroesData: {
          type: Array,
          value: heroesMock
        },
        cardsData: {
          type: Array,
          value: cardsMock
        },
      }
    });
  </script>
</dom-module>
