<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../molecules/dorel-multilingual-overlay.html">
<dom-module id="dorel-component-guide-multilingual">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-cta {
        float: left;
        width: auto;
        clear: both;
      }
    </style>

    <section class="content-container">
      <h1 class="class-for-h1">Multilingual Components</h1>
      <p>
        This section describes components used for language and country selection purposes.
      </p>
      <hr>
      <h1 class="class-for-h2">Country Overlay</h1>
      <p>
        Click on the button to open the country overlay
      </p>
      <dorel-cta title="Open country overlay"
                 type="primary"
                 link=""
                 size="small"
                 on-click="openOverlay"
                 icon="dorel-icons:chevron-right">
        Open country overlay
      </dorel-cta>
      <dorel-multilingual-overlay id="overlay"></dorel-multilingual-overlay>
    </section>
  </template>
  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-multilingual',
      properties: {},
      openOverlay: function () {
        this.$$('#overlay').open();
      }
    });
  </script>
</dom-module>
