<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../molecules/dorel-category-sub.html">
<dom-module id="dorel-component-guide-category-about">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <section class="content-container">
      <div class="class-for-h1">Category About Pages</div>
      <p class="class-for-p">
        Components used in the Category About Pages.
      </p>
      <hr>
      <dorel-category-sub>w</dorel-category-sub>

    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-category-about',
    });
  </script>
</dom-module>
