<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="utils/dorel-code-snippet.html">

<dom-module id="dorel-component-guide-buttons">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-cta {
        float: left;
        margin-right: 1.5em;
      }

      dorel-layout-column {
        margin-top: 0;
      }

      .container-standout dorel-cta {
        margin-top: -1.5em;
      }

      .container-standout {
        margin-top: 1.5em;
      }

      /*
       * both interactions in interaction CTA's should have the same *static* width
       */
      .component-guide-width-125 {
        width: 125px;
      }

      .component-guide-width-150 {
        width: 150px;
      }

      .component-guide-width-180 {
        width: 180px;
      }

      .demo-stacked-cta {
        float: left;
        width: 100%;
      }
    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Call to actions</h1>
      <p>
        Call to actions should always clearly communicate an action. Wether it's primarily navigating to another page,
        or an interactive action on the same page.
      </p>
      <hr>
      <h2 class="class-for-h2">Styles</h2>
      <p>
        Call to actions are diferentiated between: primary, secondary, tertiary and regular.
      </p>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="12" tablet-column-span="12" mobile-column-span="12">
          <!-- No indentation to display code snippet nicely -->
          <dorel-code-snippet>

            <dorel-cta title="Call to action"
                       type="primary"
                       link=""
                       size="medium"
                       icon="dorel-icons:chevron-right">
              Primary Call to Action
            </dorel-cta>

            <dorel-cta title="Call to action"
                       type="secondary"
                       link=""
                       size="medium"
                       icon="dorel-icons:chevron-right">
              Secondary Call to Action
            </dorel-cta>

            <dorel-cta title="Call to action"
                       type="link"
                       link=""
                       size="medium"
                       icon="dorel-icons:chevron-right">
              Regular Call to Action
            </dorel-cta>

          </dorel-code-snippet>
          <!--// No indentation to display code snippet nicely -->

        </dorel-layout-column>
      </dorel-layout-row>
      <hr>
      <h2 class="class-for-h2">Left aligned icons</h2>
      <p>
        In some cases, left-aligned icons will be needed for CTA's.
        This might be needed for back navigation, or when stacking CTA's and the icons need to align nicely.
      </p>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="12" tablet-column-span="12" mobile-column-span="12">
          <dorel-cta title="Call to action"
                     left-align-icon
                     type="primary"
                     link=""
                     size="medium"
                     icon="dorel-icons:chevron-left">
            Primary Call to Action
          </dorel-cta>
          <dorel-cta title="Call to action"
                     type="secondary"
                     left-align-icon
                     link=""
                     size="medium"
                     icon="dorel-icons:chevron-left">
            Secondary Call to Action
          </dorel-cta>
          <dorel-cta title="Call to action"
                     type="link"
                     left-align-icon
                     link=""
                     size="medium"
                     icon="dorel-icons:chevron-left">
            Regular Call to Action
          </dorel-cta>
        </dorel-layout-column>
      </dorel-layout-row>
      <hr>
      <p>Make sure to left-align your cta icons when stacking. This aligns the icons nicely underneath each other:</p>
      <div class="demo-stacked-cta">
        <dorel-cta title="Call to action"
                   type="link"
                   left-align-icon
                   link=""
                   size="medium"
                   no-margin
                   icon="dorel-icons:file-download">
          Left align
        </dorel-cta>
      </div>
      <div class="demo-stacked-cta">
        <dorel-cta title="Call to action"
                   type="link"
                   left-align-icon
                   link=""
                   size="medium"
                   no-margin
                   icon="dorel-icons:file-download">
          Your icons
        </dorel-cta>
      </div>
      <div class="demo-stacked-cta">
        <dorel-cta title="Call to action"
                   type="link"
                   left-align-icon
                   link=""
                   size="medium"
                   no-margin
                   icon="dorel-icons:file-download">
          When stacking CTA's
        </dorel-cta>
      </div>

      <hr>

      <h2 class="class-for-h2">Interaction States</h2>
      <p>The interaction of a call to action can be indicated using an icon. The icon represent the type of action, and
        is a visual clue for the viewer that an certain action is performed after the click of that button.</p>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="3" tablet-column-span="4" mobile-column-span="12">
          <p>Default:</p>
          <dorel-cta class="component-guide-width-180"
                     title="primary"
                     type="primary"
                     link=""
                     size="medium"
                     icon="dorel-icons:cart">
            Add to cart
          </dorel-cta>
          <p>Active:</p>
          <dorel-cta class="component-guide-width-180"
                     title="Add to Cart"
                     type="primary"
                     link=""
                     active
                     size="medium"
                     icon="dorel-icons:check">
            Added to cart
          </dorel-cta>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="3" tablet-column-span="4" mobile-column-span="12">
          <p>Default:</p>
          <dorel-cta class="component-guide-width-180"
                     title="Call to action"
                     type="primary"
                     link=""
                     size="medium"
                     icon="dorel-icons:expand-more">
            See more items
          </dorel-cta>
          <p>Active:</p>
          <dorel-cta class="component-guide-width-180"
                     title="Call to action"
                     type="primary"
                     link=""
                     active
                     size="medium"
                     icon="dorel-icons:expand-less">
            See less items
          </dorel-cta>
        </dorel-layout-column>

        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <p>Default:</p>
          <dorel-cta class="component-guide-width-125"
                     title="Call to action"
                     type="link"
                     link=""
                     size="medium"
                     icon="dorel-icons:plus">
            Read more
          </dorel-cta>
          <p>Active:</p>
          <dorel-cta class="component-guide-width-125"
                     title="Call to action"
                     type="link"
                     link=""
                     active
                     size="medium"
                     icon="dorel-icons:minus">
            Read less
          </dorel-cta>
        </dorel-layout-column>
      </dorel-layout-row>


      <p><em>note: The copy of the state change can vary. This would result in a change of width between states. The
        width of the call to action shouldn't jump towards a different size without meaning. The widest variant of the
        CTA state's will be the base width for all states of that same button as well.</em></p>

      <h2 class="class-for-h2">Wrapping</h2>

      <p>CTA text should be concise. But especially on a flexible canvas, it could be the case that a certain screen
        size forces the CTA text to span another line. But should never span more that three lines.</p>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="12" tablet-column-span="12" mobile-column-span="12">

          <dorel-cta class="component-guide-width-150"
                     title="Call to action"
                     type="primary"
                     link=""
                     size="medium"
                     icon="dorel-icons:chevron-right">
            This is quite a long text
          </dorel-cta>
        </dorel-layout-column>
      </dorel-layout-row>

      <hr>
      <h2 class="class-for-h2">Inverted cta's (on dark bg)</h2>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="12" tablet-column-span="12" mobile-column-span="12"
                             class="container-standout dark-bg">
          <dorel-cta title="Watch movie"
                     type="inverted"
                     link=""
                     size="medium"
                     icon="dorel-icons:play-circle-outline">
            Watch movie
          </dorel-cta>
        </dorel-layout-column>
      </dorel-layout-row>


      <hr>
      <h2 class="class-for-h2">Disabled cta's</h2>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="12" tablet-column-span="12" mobile-column-span="12">
          <dorel-cta title="This is disabled because of x and y"
                     type="primary"
                     link=""
                     size="medium"
                     disabled
                     icon="dorel-icons:chevron-right">
            Call to Action
          </dorel-cta>
          <dorel-cta title="This is disabled because of x and y"
                     type="secondary"
                     link=""
                     disabled
                     size="medium"
                     icon="dorel-icons:chevron-right">
            Call to Action
          </dorel-cta>
          <dorel-cta title="This is disabled because of x and y"
                     type="link"
                     link=""
                     disabled
                     size="medium"
                     icon="dorel-icons:chevron-right">
            Call to Action
          </dorel-cta>
          <dorel-cta title="This is disabled because of x and y"
                     type="cart-add"
                     link=""
                     disabled
                     size="medium"
                     icon="dorel-icons:cart">
            Add to cart
          </dorel-cta>
          <dorel-cta title="This is disabled because of x and y"
                     type="link"
                     link=""
                     disabled
                     size="medium"
                     icon="dorel-icons:plus">
            Read more
          </dorel-cta>
        </dorel-layout-column>
      </dorel-layout-row>


      <hr>
      <h2 class="class-for-h2">Section cta's</h2>

      <dorel-cta title="Call to action"
                 type="tertiary"
                 link=""
                 size="medium"
                 icon="dorel-icons:chevron-right">
        Section Call to Action
      </dorel-cta>


    </dorel-layout-container>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-buttons',
    });
  </script>
</dom-module>
