<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-buttons">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-cta {
        float: left;
        margin-right: 1.5em;
      }
    </style>
    <section class="content-container">
      <h1 class="class-for-h1">Buttons</h1>
      <p>
        Specifications for buttons and CTA's.
      </p>
      <hr>
      <h2 class="class-for-h2">Small buttons</h2>
      <dorel-cta title="Call to action"
                 type="primary"
                 link=""
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="secondary"
                 link=""
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="tertiary"
                 link=""
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="link"
                 link=""
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <hr>
      <div class="container-fluid container-standout dark-bg">
        <dorel-cta title="Watch movie"
                   type="movie-play"
                   link=""
                   size="medium"
                   icon="dorel-icons:play-circle-outline">
          Watch movie
        </dorel-cta>
      </div>
      <hr>
      <h2 class="class-for-h2">Disabled buttons</h2>
      <dorel-cta title="Call to action"
                 type="primary"
                 link=""
                 size="small"
                 disabled
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="secondary"
                 link=""
                 disabled
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="tertiary"
                 link=""
                 disabled
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
      <dorel-cta title="Call to action"
                 type="link"
                 link=""
                 disabled
                 size="small"
                 icon="dorel-icons:chevron-right">
        Call to Action
      </dorel-cta>
    </section>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-buttons',
    });
  </script>
</dom-module>
