<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../molecules/dorel-category-sub.html">
<link rel="import" href="../../organisms/dorel-category-sub-header.html">
<dom-module id="dorel-component-guide-category-about">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-category-sub-header {
        margin-top: 1.5em;
      }

      dorel-category-sub {
        margin-top: 3em;
        float: left;
        width: 100%;
      }
    </style>
    <section class="content-container">
      <div class="class-for-h1">Category About Pages</div>
      <p class="class-for-p">
        Components used in the Category About Pages.
      </p>
      <hr>
    </section>
    <section class="content-container">
      <div class="class-for-h2">Category About Header</div>
    </section>
    <dorel-category-sub-header></dorel-category-sub-header>
    <section class="content-container">
      <div class="class-for-h2">Subcategory section</div>
      <dorel-category-sub></dorel-category-sub>
      <dorel-category-sub></dorel-category-sub>
    </section>
    <hr>
    <section class="content-container">
      <div class="class-for-h2">Cards section</div>
    </section>
    <dorel-section-cards cards-data="[[ cardsData ]]" cta-type="secondary" compact="true"></dorel-section-cards>
    <hr>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-category-about',
      properties: {
        cardsData: {
          type: Object,
          value: {
            'cards': [{
              'card_title': 'Safety & Legislation',
              'card_text': 'Quae cum magnifice primo dici viderentur, considerata minus probabantur.',
              'bynder_card_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
              'cta_toggle': true,
              'cta_text': 'Read more',
            },
              {
                'card_title': 'Installation & types',
                'card_text': 'Tubulo putas dicere? Neque enim civitas in seditione beata.',
                'bynder_card_image': '14BB9491-A186-40D8-B965680777095B8E',
                'cta_toggle': true,
                'cta_text': 'Read more',
              },
              {
                'card_title': 'Car fitting tool',
                'card_text': 'Tubulo putas dicere? Neque enim civitas in seditione beata.',
                'bynder_card_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
                'cta_toggle': true,
                'cta_text': 'Read more',
              }],
          },
        }
      }
    });
  </script>
</dom-module>
