<script src="mocks/cards/cards.js"></script>
<script src="mocks/hero-header/hero-header.js"></script>
<script src="mocks/sub-categories/sub-categories.js"></script>

<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../organisms/dorel-section-category-about-sub-categories.html">
<link rel="import" href="../../organisms/dorel-section-category-about-header.html">
<link rel="import" href="../../organisms/dorel-section-cards.html">

<dom-module id="dorel-component-guide-category-about">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-section-category-about-header {
        margin-top: 1.5em;
      }

      dorel-section-category-about-sub-categories {
        margin-top: 3em;
        float: left;
        width: 100%;
      }
    </style>

    <dorel-layout-container>
      <div class="class-for-h1">Category About Pages</div>
      <p class="class-for-p">Components used in the Category About Pages.</p>
      <hr>
      <div class="class-for-h2">Category About Header</div>
    </dorel-layout-container>
    <dorel-section-category-about-header template-data="[[ subcategoryHeader ]]"></dorel-section-category-about-header>
    <hr>
    <dorel-layout-container>
      <div class="class-for-h2">Subcategory section</div>
      <hr>
    </dorel-layout-container>
    <dorel-section-category-about-sub-categories
      template-data="[[ subCategories ]]"></dorel-section-category-about-sub-categories>
    <dorel-layout-container>
    <div class="class-for-h2">Cards section</div>
    </dorel-layout-container>
    <dorel-section-cards cards-data="[[ cardsData ]]" cta-type="secondary" compact="true"></dorel-section-cards>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-category-about',
      properties: {
        subcategoryHeader: {
          type: Object,
          value: categoryAboutHeaderMock
        },
        subCategories: {
          type: Object,
          value: subCategoriesMock
        },
        cardsData: {
          type: Array,
          value: cardsMock
        }
      }
    });
  </script>
</dom-module>
