<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="utils/dorel-color-block.html">

<dom-module id="dorel-component-guide-colors">
  <template>
    <style include="dorel-component-guide-shared-styles">
      p a {
        @apply(--theme-text-link);
      }

      p a:hover, p a:focus {
        @apply(--theme-text-link-active);
      }
    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Colors</h1>
      <p>Color usage will be elaborated here</p>
      <p><i>Always use the shared styles when styling typograhy!</i></p>
      <hr>
      <h2 class="class-for-h2">Primary Brand Colors</h2>
      <dorel-layout-row>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-color-1"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-color-2"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-color-3"></dorel-color-block>
        </dorel-layout-column>
      </dorel-layout-row>
      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-brand-color-1</code></td>
          <td>Primary brand color 1</td>
        </tr>
        <tr>
          <td><code>--theme-brand-color-2</code></td>
          <td>Primary brand color 2</td>
        </tr>
        <tr>
          <td><code>--theme-brand-color-3</code></td>
          <td>Primary brand color 3</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h2 class="class-for-h2">Complementary Brand Colors</h2>
      <dorel-layout-row>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-complementary-color-1"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-complementary-color-2"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-brand-complementary-color-3"></dorel-color-block>
        </dorel-layout-column>
      </dorel-layout-row>

      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-brand-complementary-color-1</code></td>
          <td>Complementary brand color 1</td>
        </tr>
        <tr>
          <td><code>--theme-brand-complementary-color-2</code></td>
          <td>Complementary brand color 2</td>
        </tr>
        <tr>
          <td><code>--theme-brand-complementary-color-3</code></td>
          <td>Complementary brand color 3</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h2 class="class-for-h2">Monochrome Colors</h2>
      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-1"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-2"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-3"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-4"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-5"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-6"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-monochrome-7"></dorel-color-block>
        </dorel-layout-column>
      </dorel-layout-row>

      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-color-monochrome-1</code></td>
          <td>Monochrome color 1</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-2</code></td>
          <td>Monochrome color 2</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-3</code></td>
          <td>Monochrome color 3</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-4</code></td>
          <td>Monochrome color 4</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-5</code></td>
          <td>Monochrome color 5</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-6</code></td>
          <td>Monochrome color 6</td>
        </tr>
        <tr>
          <td><code>--theme-color-monochrome-7</code></td>
          <td>Monochrome color 7</td>
        </tr>
        </tbody>
      </table>
      </div>
      <hr>
      <h2 class="class-for-h2">White & Black</h2>

      <dorel-layout-row align="left">
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-white"></dorel-color-block>
        </dorel-layout-column>
        <dorel-layout-column desktop-column-span="4" tablet-column-span="4" mobile-column-span="4">
          <dorel-color-block brand="[[ brand ]]" color-variable="--theme-color-black"></dorel-color-block>
        </dorel-layout-column>
      </dorel-layout-row>
      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-color-white</code></td>
          <td>Color white</td>
        </tr>
        <tr>
          <td><code>--theme-color-black</code></td>
          <td>Color black</td>
        </tr>
        </tbody>
      </table>

      <hr>
      <h2 class="class-for-h2">Colors in text</h2>
      <p class="class-for-16px">
        Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut
        labore et. Ut enim ad minim veniam, <a href="">quis nostrud exercitation</a> ullamco laboris nisi ut aliquip ex
        ea
        commodo consequat.
      </p>
      <table>
        <thead>
        <tr>
          <th>Custom property</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-color-text-link</code></td>
          <td>Color for links in text</td>
        </tr>
        <tr>
          <td><code>--theme-color-text-link-active</code></td>
          <td>Color for hovered and focused links</td>
        </tr>
        <tr>
          <td><code>--theme-text-link</code></td>
          <td>Mixin with behaviour for links in text</td>
        </tr>
        <tr>
          <td><code>--theme-text-link-active</code></td>
          <td>Mixin with behaviour for focused and hovered links in text</td>
        </tr>
        </tbody>
      </table>
    </dorel-layout-container>
  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-colors',
      properties: {
        /**
         * @name brand
         * @description defines the brand
         */
        brand: {
          type: Object,
          notify: true,
        }
      }
    });
  </script>
</dom-module>
