<dom-module id="dorel-component-guide-shared-styles">
  <template>
    <style is="custom-style">
      :host {
        font-size: var(--theme-base-font-size);
      }

      .class-for-h1 {
        @apply(--theme-typography-8);
        clear: both;
      }

      .class-for-h2 {
        @apply(--theme-typography-6);
      }

      .class-for-h3 {
        @apply(--theme-typography-4);
      }
      
      p {
        @apply(--theme-paragraph-text);
      }

      .class-for-h2 + p {
        margin: 0.75em 0;
      }

      .class-for-h1, .class-for-h2, p {
        clear: both;
        float: left;
        width: 100%;
      }

      hr {
        clear: both;
        margin: 0;
        border: 0;
        padding-bottom: 1.5em;
        box-shadow: inset 0 -1px 0 0 var(--theme-color-monochrome-2);
      }

      table {
        @apply(--theme-typography-1);
        background-color: var(--theme-color-monochrome-2);
        margin-top: 1.75em;
        line-height: 1.5em;
        /* Note: we're using pixels here because the ems because of table styling quirks */
        padding: 23px;
        clear: both;
        float: left;
      }

      thead tr {
        box-shadow: inset 0 -1px 0 0 var(--theme-color-monochrome-3);
      }

      th, tr, td {
        /* Substracting 2px to correct for vertical rhytmn */
        line-height: 1.5em;
        height: 1.5em;
        padding: 0 1.5em 0 0;
        text-align: left;
        font-weight: normal;

      }

      .container-standout {
        margin-top: 1.5em;
        margin-bottom: .75em;
        padding: 1.5em;
      }

      .dark-bg {
        background-color: var(--theme-color-monochrome-7);
      }

      paper-menu {
        background-color: transparent;
        padding: 0;
        border-bottom: 1px solid var(--theme-color-monochrome-2);
        width: 100%;
        box-sizing: border-box;
        float: left;
      }

      .component-guide__content {
        min-height: calc(100vh - 112px);
        padding: 1.5em 0 3em 0;
        width: 100%;
      }
    </style>
  </template>
</dom-module>