<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../atoms/dorel-input.html">

<dom-module id="dorel-component-guide-forms">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      form {
        float: left;
        width: 75%;
        margin-top: 1.5em;
      }

      dorel-input {
        float: left;
        width: 100%;
      }

    </style>

    <h1 class="class-for-h1">Forms</h1>
    <p>
      Specifications for form and input elements
    </p>
    <hr>
    <p>

    <h2 class="class-for-h2">Input Field</h2>
    <form>
      <dorel-input label="Regular input field"></dorel-input>
      <dorel-input label="Required input field" required></dorel-input>

      <dorel-input label="Invalid input field"
                   error-message="testing this" invalid></dorel-input>

      <dorel-input label="Disabled input field" disabled></dorel-input>
    </form>
    <hr>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-forms',
    });
  </script>
</dom-module>
