<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../organisms/dorel-service-faq-overview.html">
<link rel="import" href="../../organisms/dorel-service-faq-detail.html">

<dom-module id="dorel-component-guide-service">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style></style>
    <section class="content-container">
      <h1 class="class-for-h1">Service Components</h1>
      <p>
        Components used for the service pages
      </p>
      <hr>
      <h1 class="class-for-h2">FAQ Overview</h1>
    </section>
    <dorel-service-faq-overview template-data="[[ faqOverview ]]"></dorel-service-faq-overview>
    <section class="content-container">
      <hr>
      <h1 class="class-for-h2">FAQ Detail</h1>
      <dorel-service-faq-detail faq-detail="[[ faqDetail ]]"></dorel-service-faq-detail>
    </section>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-service',
      properties: {
        faqDetail: {
          type: Array,
          value: [
            {
              'title': 'Repairs',
              'questions': [
                {'title': 'Repairs First Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Repairs Second Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Repairs Third Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Repairs Fourth Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              ]
            },
            {
              'title': 'Damaged Product',
              'questions': [
                {'title': 'Damaged Product First Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Damaged Product Second Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Damaged Product Third Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Damaged Product Fourth Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              ]
            },
            {
              'title': 'Spare Parts',
              'questions': [
                {'title': 'Spare Parts First Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Spare Parts Second Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Spare Parts Third Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                {'title': 'Spare Parts Fourth Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
              ]
            },
          ]
        },
        faqOverview: {
          type: Object,
          value: {
            cta_text: 'View more',
            faq_categories: [
              {
                'name': 'Safety & Care',
                'icon': 'dorel-icons:help-outline',
                'questions': [
                  {'title': 'Safety First Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Second Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Third Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Fourth Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                ]
              }, {
                'name': 'Warranty',
                'icon': 'dorel-icons:help-outline',
                'questions': [
                  {'title': 'Warranty First Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Second Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Third Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Fourth Warranty Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                ]
              }, {
                'name': 'Repairs & Replacements',
                'icon': 'dorel-icons:help-outline',
                'questions': [
                  {'title': 'Repairs First Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Second Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Third Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                  {'title': 'Fourth Repairs Lorem ipsum this?', 'description': 'Lorem ipsum descrpition'},
                ]
              }
            ]
          }
        },
      }
    });
  </script>
</dom-module>
