<link rel="import" href="../../organisms/dorel-section-text-image-block.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">
<script src="mocks/text-image-block/text-image-block.js"></script>

<dom-module id="dorel-component-guide-text-image-block">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <dorel-layout-container>
      <h1 class="class-for-h1">text-area-block</h1>
      <p>Cards can be displayed in sections using the <i>dorel-section-cards</i> component.
        Two variations exist, one which spans two columns and another which spans three columns. An additional title and
        description can be added as well.</p>
    </dorel-layout-container>

    <dorel-section-text-image-block block-data="[[ myBlockData ]]"></dorel-section-text-area-block>

  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-text-image-block',
      properties: {
        myBlockData : {
          type : Object,
          value : textBlockMock
        }
      }
    });
  </script>
</dom-module>
