<link rel="import" href="../../organisms/dorel-section-text-image-block.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">
<script src="mocks/text-image-block/text-image-block.js"></script>

<dom-module id="dorel-component-guide-text-image-block">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <dorel-layout-container>
      <h1 class="class-for-h1">text-area-block</h1>
      <p>A responsive block containing an image and text, one or more links can be added.</p>
    </dorel-layout-container>

    <dorel-section-text-image-block block-data="[[ myBlockData ]]"></dorel-section-text-image-block>

  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-text-image-block',
      properties: {
        myBlockData : {
          type : Object,
          value : textBlockMock
        }
      }
    });
  </script>
</dom-module>
