<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-typography">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      .class-for-48px {
        @apply(--theme-typography-8);
      }

      .class-for-40px {
        @apply(--theme-typography-7);
      }

      .class-for-32px {
        @apply(--theme-typography-6);
      }

      .class-for-28px {
        @apply(--theme-typography-5);
      }

      .class-for-24px {
        @apply(--theme-typography-4);
      }

      .class-for-20px {
        @apply(--theme-typography-3);
      }

      .class-for-16px {
        @apply(--theme-typography-2);
      }

      .class-for-14px {
        @apply(--theme-typography-1);
      }
    </style>

    <div class="class-for-h1">Typography</div>
    <p>
      The typography is set to a base font size of 16px, with a line height of 24px.
      This line height is also the basis for the vertical rhythmn all components.
      A line of paragraph text should contain between 75-80 characters.
    </p>
    <hr>

    <table>
      <thead>
      <tr>
        <th>Custom property</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>--paper-checkbox-unchecked-background-color</code>
        </td>
        <td>Checkbox background color when the input is not checked</td>
      </tr>
      <tr>
        <td><code>--paper-checkbox-unchecked-color</code>
        </td>
        <td>Checkbox border color when the input is not checked</td>
      </tr>
      <tr>
        <td><code>--paper-checkbox-unchecked-ink-color</code></td>
        <td>Selected/focus ripple color when the input is not checked</td>
      </tr>
      </tbody>
    </table>
    <div class="class-for-48px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-40px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-32px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-28px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-24px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-20px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-16px">The quick brown fox jumps over the lazy dog</div>
    <div class="class-for-14px">The quick brown fox jumps over the lazy dog</div>
    <hr>
    <h1 class="class-for-h1">
      Article primary header
    </h1>
    <p class="class-for-16px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>
    <p class="class-for-16px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>
    <h1 class="class-for-h2">
      Article secondary header
    </h1>
    <p class="class-for-16px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>

  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-typography',
    });
  </script>
</dom-module>
