<link rel="import" href="../../organisms/dorel-section-content-block.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">
<script src="mocks/content-block/content-block.js"></script>

<dom-module id="dorel-component-guide-content-block">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <dorel-layout-container>
      <h1 class="class-for-h1">content-block</h1>
      <p>A responsive block containing an image and text, one or more links can be added.</p>
    </dorel-layout-container>

    <dorel-section-content-block block-data="[[ myBlockData ]]"></dorel-section-content-block>

  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-content-block',
      properties: {
        myBlockData : {
          type : Object,
          value : contentBlockMock
        }
      }
    });
  </script>
</dom-module>
