<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="../../organisms/dorel-section-product-usps.html">
<link rel="import" href="../../organisms/dorel-section-product-accessories.html">
<link rel="import" href="../../organisms/dorel-section-product-features.html">

<script src="mocks/product-detail/usps.js"></script>
<script src="mocks/product-detail/features.js"></script>
<script src="mocks/product-detail/accessories.js"></script>

<dom-module id="dorel-component-guide-product-detail">
  <template>
    <style include="dorel-component-guide-shared-styles">
      dorel-section-product-accessories {
        margin-top: 1.5em;
      }

    </style>
    <dorel-layout-container>
      <h1 class="class-for-h1">Product Detail Components</h1>
      <p>
        The following section documents components used on the product detail page
      </p>
      <hr>
      <h2 class="class-for-h2">Product Features</h2>
      <p>With a centered layout, and expand/collapse on mobile</p>
    </dorel-layout-container>

    <dorel-section-product-features features-data="[[ featuresData]]"></dorel-section-product-features>

    <dorel-layout-container>
      <hr>
      <h2 class="class-for-h2">Product USPS</h2>
    </dorel-layout-container>

    <dorel-section-product-usps usps-data="[[ uspsData ]]"></dorel-section-product-usps>

    <dorel-layout-container>
      <hr>
      <h2 class="class-for-h2">Product Accessories</h2>
      <p>With a centered layout, and expand/collapse on mobile</p>
    </dorel-layout-container>
    <dorel-section-product-accessories related-products="[[ relatedProducts ]]"
                                       accessories-options="[[ accessoriesOptions ]]"></dorel-section-product-accessories>


  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-product-detail',
      properties: {
        brand: {
          type: String
        },
        featuresData: {
          type: Object,
          value: featuresMock
        },
        uspsData: {
          type: Object,
          value: uspsMock
        },
        accessoriesOptions: {
          type: Object,
          value: accessoriesOptionsMock
        },
        relatedProducts: {
          type: Array,
          value: relatedProductsMock
        }
      }
    });
  </script>
</dom-module>
