<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-home">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-section-hero-header {
        margin-top: 1.5em;
      }

      dorel-section-cta {
        margin-top: 3em;
      }
    </style>

    <section class="content-container">
      <h1 class="class-for-h1">Home</h1>
      <p>
        Components used for the home page
      </p>
      <hr>
      <h1 class="class-for-h2">Section Hero Header</h1>
    </section>
    <dorel-section-hero-header hero-header-data="[[ heroHeaderData ]]"></dorel-section-hero-header>
    <section class="content-container">
      <hr>
      <h1 class="class-for-h2">Section Hero Video Header</h1>
    </section>
    <dorel-section-hero-header hero-header-data="[[ videoHeroData ]]"></dorel-section-hero-header>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section CTA's</h2>
    </section>
    <dorel-section-cta cta-data="[[ sectionCtaData ]]"></dorel-section-cta>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section Heroes</h2>
    </section>
    <dorel-section-heroes heroes-data="[[ heroesData ]]"></dorel-section-heroes>
    <section class="content-container">
      <hr>
      <h2 class="class-for-h2">Section Cards</h2>
    </section>
    <dorel-section-cards cards-data="[[ cardsData ]]"></dorel-section-cards>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-home',
      properties: {
        brand: {
          type: String
        },
        videoHeroData: {
          type: Object,
          value: {
            'title': 'Aliena dixit in physicis nec ea ipsa',
            'sub_title': 'Quae cum dixisset, finem ille',
            'cta_toggle': false,
            'bynder_background_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
            'video_id': 'L0bcb48y4bE',
          }
        },
        heroHeaderData: {
          type: Object,
          value: {
            'title': 'Aliena dixit in physicis nec ea ipsa',
            'sub_title': 'Quae cum dixisset, finem ille',
            'cta_toggle': true,
            'bynder_background_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
            'cta_text': 'Watch video'
          }
        },
        sectionCtaData: {
          type: Object,
          value: {
            'ctas': [
              {
                'cta_text': 'Strollers',
                'cta_icon': 'stroller'
              },
              {
                'cta_text': 'Feeding & Care',
                'cta_icon': 'feeding-care'
              },
              {
                'cta_text': 'Carseats',
                'cta_icon': 'car-seat'
              },
            ]
          }
        },
        heroesData: {
          type: Object,
          value: {
            'heroes': [{
              'bynder_background_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
              'bynder_overlay_image': '',
              'title': 'Quod autem in homine',
              'sub_title': 'Videamus animi partes, quarum est conspectus',
              'cta_toggle': true,
              'cta_text': 'Read more',
              'overlay_image': 'C9FD70EB-14E2-435E-A43CDE18FEA61E88'
            },
              {
                'bynder_background_image': '14BB9491-A186-40D8-B965680777095B8E',
                'overlay_image': '',
                'title': 'Quae enim magnifice primo ',
                'sub_title': 'Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus.',
                'cta_toggle': true,
                'cta_text': 'Read more',
                'bynder_overlay_image': 'C9FD70EB-14E2-435E-A43CDE18FEA61E88'
              }]
          }
        },
        cardsData: {
          type: Object,
          value: {
            'cards': [{
              'card_title': 'Torquate, haec dicit Epicurus?',
              'card_text': 'Quae cum magnifice primo dici viderentur, considerata minus probabantur.',
              'bynder_card_image': '7F84BD5F-551A-4DA5-8532AB44763439AA',
              'cta_toggle': true,
              'cta_text': 'Read more',
            }, {
              'card_title': ' Sed fac ista esse non inportuna',
              'card_text': 'Tubulo putas dicere? Neque enim civitas in seditione beata.',
              'bynder_card_image': '14BB9491-A186-40D8-B965680777095B8E',
              'cta_toggle': true,
              'cta_text': 'Read more',
            }],
          },
        },
      }
    });
  </script>
</dom-module>
