<link rel="import" href="dorel-component-guide-shared-styles.html">
<link rel="import" href="utils/dorel-code-snippet.html">

<dom-module id="dorel-component-guide-layout">
  <template>
    <style include="dorel-component-guide-shared-styles">
      .layout-demo {
        background-color: var(--theme-brand-color-1);
        height: 3em;
        float: left;
        width: 100%;
      }

      dorel-layout-column {
        margin-top: 1.5em;
      }

      /* sizing */
      .column-1 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: var(--theme-column-width);
        flex-basis: var(--theme-column-width);
        max-width: var(--theme-column-width);
      }

      .column-2 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 2);
        flex-basis: calc(var(--theme-column-width) * 2);
        max-width: calc(var(--theme-column-width) * 2);
      }

      .column-3 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 3);
        flex-basis: calc(var(--theme-column-width) * 3);
        max-width: calc(var(--theme-column-width) * 3);
      }

      .column-4 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 4);
        flex-basis: calc(var(--theme-column-width) * 4);
        max-width: calc(var(--theme-column-width) * 4);
      }

      .column-6 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 6);
        flex-basis: calc(var(--theme-column-width) * 6);
        max-width: calc(var(--theme-column-width) * 6);
      }

      .column-content {
        background-color: var(--theme-brand-color-1);
        min-height: 1.5em;
      }
    </style>

    <dorel-layout-container>
      <h1 class="class-for-h1">Layout & Sizes</h1>
      <p>
        Layout adheres to a <i>vertical rhythm</i>, which is based on a 1.5em (24px) measure.
        Switch on the vertical rythm in the toolbar above to see the spacings.
      </p>
      <hr>
      <h2 class="class-for-h2">Dorel Layout Components</h2>
      <p>For quick layouts, it's easiest to use the <i>dorel-layout</i> components.</p>
      <p>The <i>dorel-layout-column</i> accepts three properties for layouts on different screens.
        These are the <i>desktop-column-span,
          tablet-column-span and mobile-column-span</i> properties</p>
      <p>The following is an example of how the <i>dorel-layout-column</i> can be used:</p>

      <dorel-code-snippet>
        <dorel-layout-container>
          <!-- Set align to left, center or right-->
          <dorel-layout-row align="left">
            <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
              <!-- Add any type of content here -->
              <div class="layout-demo"></div>
            </dorel-layout-column>
            <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
              <!-- Add any type of content here -->
              <div class="layout-demo"></div>
            </dorel-layout-column>
            <dorel-layout-column desktop-column-span="4" tablet-column-span="6" mobile-column-span="12">
              <!-- Add any type of content here -->
              <div class="layout-demo"></div>
            </dorel-layout-column>
          </dorel-layout-row>
        </dorel-layout-container>
      </dorel-code-snippet>
      <dorel-code-snippet>
        <dorel-layout-container>
          <!-- Add any type of content here -->
          <h2 class="class-for-h2">Layout container</h2>
          <p>Use the dorel-layout-container for content which is not placed in columns.
            This will have the correct side margins for desktop and mobile, with the correct maximum width.</p>
        </dorel-layout-container>
      </dorel-code-snippet>
      <dorel-layout-container>
        <hr>
        <h2 class="class-for-h2">The Grid Specifications</h2>
        <p>Layouts are based on a 12 column grid. The columns are separated by the same 1.5em (24px) distance as
          the vertical rhythm. The left and right margins are 1.5em (24px) on desktop and .75em (12px) on mobile.</p>
        <p>For developers it's recommended to use the layout components shown in the section above.
          In some cases, you can use variables from the shared styles for more specific needs.
        </p>
        <p>The following illustrates the 12 column grid. (and uses the shared styles)</p>
        <dorel-layout-row>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <dorel-layout-row>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <dorel-layout-row>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <dorel-layout-row>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <dorel-layout-row>
          <div class="column-4">
            <div class="column-content"></div>
          </div>
          <div class="column-4">
            <div class="column-content"></div>
          </div>
          <div class="column-4">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <dorel-layout-row>
          <div class="column-6">
            <div class="column-content"></div>
          </div>
          <div class="column-6">
            <div class="column-content"></div>
          </div>
        </dorel-layout-row>

        <table>
          <thead>
          <tr>
            <th>Shared Style</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>--theme-grid-column</code></td>
            <td>Mixin for a column. Apply this and a flex-basis.</td>
          </tr>
          <tr>
            <td><code>calc(var(--theme-column-width) * x)</code></td>
            <td>Apply this as flex-basis or offsets, with x ranging from 1 to 12</td>
          </tr>
          </tbody>
        </table>
      </dorel-layout-container>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-layout',
    });
  </script>
</dom-module>
