<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-layout">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      .layout-block {
        background-color: var(--theme-brand-color);
        float: left;
        display: block;
        clear: both;
        margin-right: var(--theme-scale-3);
      }

      .layout-block--1 {
        width: var(--theme-scale-1);
        height: var(--theme-scale-1);
      }

      .layout-block--2 {
        width: var(--theme-scale-2);
        height: var(--theme-scale-2);
      }

      .layout-block--3 {
        width: var(--theme-scale-3);
        height: var(--theme-scale-3);

      }

      .layout-block--4 {
        width: var(--theme-scale-4);
        height: var(--theme-scale-4);
      }

      .layout-block--5 {
        width: var(--theme-scale-5);
        height: var(--theme-scale-5);
      }

      .layout-block--6 {
        width: var(--theme-scale-6);
        height: var(--theme-scale-6);
      }

      .layout-block--7 {
        width: var(--theme-scale-7);
        height: var(--theme-scale-7);
      }

      .layout-block--8 {
        width: var(--theme-scale-8);
        height: var(--theme-scale-8);
      }

      .layout-block--9 {
        width: var(--theme-scale-9);
        height: var(--theme-scale-9);
      }

      .layout-wrapper {
        min-height: var(--theme-scale-3);
        margin-top: var(--theme-scale-3);
        float: left;
      }

      /* sizing */
      .column-1 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: var(--theme-column-width);
        flex-basis: var(--theme-column-width);
        max-width: var(--theme-column-width);
      }

      .column-2 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 2);
        flex-basis: calc(var(--theme-column-width) * 2);
        max-width: calc(var(--theme-column-width) * 2);
      }

      .column-3 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 3);
        flex-basis: calc(var(--theme-column-width) * 3);
        max-width: calc(var(--theme-column-width) * 3);
      }

      .column-4 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 4);
        flex-basis: calc(var(--theme-column-width) * 4);
        max-width: calc(var(--theme-column-width) * 4);
      }

      .column-6 {
        @apply(--theme-grid-column);
        -ms-flex-preferred-size: calc(var(--theme-column-width) * 6);
        flex-basis: calc(var(--theme-column-width) * 6);
        max-width: calc(var(--theme-column-width) * 6);
      }

      .column-content {
        background-color: var(--theme-brand-color);
        min-height: var(--theme-scale-3);
      }
    </style>
    <div>
      <h1 class="class-for-h1">Layout & Sizes</h1>
      <p>
        Layout adheres to a vertical rhythm, which is based on 1.5em (24px).
        This will be applied to spacing such as margins and paddings.
        The smallest possible spacing we will use is .25em.
      </p>
      <hr>
      <h2 class="class-for-h2">Scales</h2>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--1"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--2"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--3"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--4"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--5"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--6"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--7"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--8"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--9"></div>
      </div>
      <div class="layout-wrapper">
        <div class="layout-block layout-block--10"></div>
      </div>
      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-scale-1</code>
          </td>
          <td>Scale mixin .25em. <i>Each distance is a multiple based on this unit</i></td>
        </tr>
        <tr>
          <td><code>--theme-scale-2</code>
          </td>
          <td>Scale mixin .75em</td>
        </tr>
        <tr>
          <td><code>--theme-scale-3</code>
          </td>
          <td>Scale mixin 1.5em <i>This is the most important unit, based on the line height of paragraph text. Used for
            the vertical rhythm</i></td>
        </tr>
        <tr>
          <td><code>--theme-scale-4</code>
          </td>
          <td>Scale mixin 2.25em</td>
        </tr>
        <tr>
          <td><code>--theme-scale-5</code>
          </td>
          <td>Scale mixin 3em</td>
        </tr>
        <tr>
          <td><code>--theme-scale-6</code>
          </td>
          <td>Scale mixin 3.75em</td>
        </tr>
        <tr>
          <td><code>--theme-scale-7</code>
          </td>
          <td>Scale mixin 4.5</td>
        </tr>
        <tr>
          <td><code>--theme-scale-8</code>
          </td>
          <td>Scale mixin 5.25em</td>
        </tr>
        <tr>
          <td><code>--theme-scale-9</code>
          </td>
          <td>Scale mixin 6em</td>
        </tr>
        <tr>
          <td><code>calc(var(--theme-scale-1) * x)</code>
          </td>
          <td>Other scales <i>Make sure the final spacing is always divisible by 1.5 with no remainder, to align with
            vertical rhythm.</i></td>
        </tr>
      </table>
      <hr>
      <h2 class="class-for-h2">Grid</h2>
      <p>For layout, we will try to maintain a 12 column grid. The columns are separated by the same base distance as
        the vertical rhythm (1.5em)</p>
      <p>Layouts will be create using a combination of the shared styles and the iron-flex and iron-flex-alignment
        components</p>
      <div class="container-fluid">
        <div class="row">
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
          <div class="column-1">
            <div class="column-content"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
          <div class="column-2">
            <div class="column-content"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
          <div class="column-3">
            <div class="column-content"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="column-4">
            <div class="column-content"></div>
          </div>
          <div class="column-4">
            <div class="column-content"></div>
          </div>
          <div class="column-4">
            <div class="column-content"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="column-6">
            <div class="column-content"></div>
          </div>
          <div class="column-6">
            <div class="column-content"></div>
          </div>
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th>Shared Style</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><code>--theme-grid-column</code></td>
          <td>Mixin for a column. Apply this and a flex-basis.</td>
        </tr>
        <tr>
          <td><code>calc(var(--theme-column-width) * x)</code></td>
          <td>Apply this as flex-basis or offsets, with x ranging from 1 to 12</td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-guide-layout',
    });
  </script>
</dom-module>
