<script src="mocks/campaign/marketing-campaign.js"></script>
<link rel="import" href="../dorel-template-marketing-campaign.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-marketing-campaign">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>

      .marketing-campaign {
        margin-top: 1.5em;
      }

      dorel-section-cta {
        margin-top: 3em;
        float: left;
        width: 100%;
      }
    </style>

   <dorel-layout-container>
      <h1 class="class-for-h1">Marketing Campaign</h1>
      <hr>
    </dorel-layout-container>

    <dorel-template-marketing-campaign
      class="marketing-campaign"
      app-cache="[[ appCache ]]"
      template-data="[[ marketingCampaignData ]]"></dorel-template-marketing-campaign>

  </template>
  <script>
    Polymer({
      is: 'dorel-component-guide-marketing-campaign',
      properties: {
        brand: {
          type: String
        },
        marketingCampaignData: {
          type: Object,
          value: marketingCampaignMock
        },
      }
    });
  </script>
</dom-module>
