<script src="mocks/heroes/heroes.js"></script>
<script src="mocks/hero-header/hero-header.js"></script>

<link rel="import" href="../../organisms/dorel-section-hero-header.html">
<link rel="import" href="dorel-component-guide-shared-styles.html">

<dom-module id="dorel-component-guide-hero-header">
  <template>
    <style include="dorel-component-guide-shared-styles"></style>
    <style>
      dorel-section-hero-header {
        margin-top: 1.5em;
      }

      dorel-section-cta {
        margin-top: 3em;
        float: left;
        width: 100%;
      }
    </style>

    <dorel-layout-container>
      <h1 class="class-for-h1">Hero Header</h1>
      <p>Hero Header Variants</p>
      <hr>
      <h1 class="class-for-h2">Section Hero Header</h1>
    </dorel-layout-container>
    <dorel-section-hero-header hero-header-data="[[ heroHeaderData ]]"></dorel-section-hero-header>
    <dorel-layout-container>
      <hr>
      <h1 class="class-for-h2">Expandable Hero Header</h1>
    </dorel-layout-container>
    <dorel-section-hero-header hero-header-data="[[ expandableHeroData ]]"></dorel-section-hero-header>
    <dorel-layout-container>
      <hr>
      <h1 class="class-for-h2">Section Hero Video Header</h1>
    </dorel-layout-container>
    <dorel-section-hero-header hero-header-data="[[ videoHeroData ]]"></dorel-section-hero-header>
  </template>

  <hr>
  <script>
    Polymer({
      is: 'dorel-component-guide-hero-header',
      properties: {
        brand: {
          type: String
        },
        videoHeroData: {
          type: Object,
          value: heroHeaderVideoMock
        },
        heroHeaderData: {
          type: Object,
          value: heroHeaderMock
        },
        expandableHeroData: {
          type: Object,
          value: expandableHeaderMock
        },
        heroesData: {
          type: Array,
          value: heroesMock
        },
      }
    });
  </script>
</dom-module>
