<link rel="import" href="../../../node_modules/paper-toggle-button/paper-toggle-button.html">
<!--<link rel="import" href="../../atoms/dorel-input-select.html"> -->

<dom-module id="dorel-component-toolbar">
  <template>
    <style>
      :host {
        background-color: var(--theme-brand-color-1);
        float: left;
        width: 100%;
        padding: 1.5em 0
      }

      :root {
        --paper-toggle-button-label-color: var(--theme-color-white);
        --paper-toggle-button-checked-button-color: var(--theme-color-white);
        --paper-toggle-button-checked-bar-color: var(--theme-color-black);
      }

      paper-toggle-button {
        @apply(--theme-typography-2);
        margin: .75em;
        cursor: pointer;
        float: right;
      }

      dorel-input-select {
        float: right;
        width: 15em;
        margin-bottom: -1.5em;
        margin-left: 3em;
      }

      dorel-cta {
        float: left;
      }
    </style>
    <dorel-layout-container>
      <dorel-cta title="Back to overview"
                 type="inverted"
                 link="[[ backLink ]]"
                 size="medium"
                 left-align-icon
                 icon="dorel-icons:chevron-left">
        Back to overview
      </dorel-cta>
      <!-- NOTE: this is a select box for selecting brands. Switched off now because we can change brands through the overview
      <dorel-input-select label=""
                          options="[[ availableBrands ]]"
                          selected="{{ brand }}"></dorel-input-select> -->

      <paper-toggle-button noink
                           checked$="[[ appCache.grid.vertical ]]"
                           on-click="_setVerticalRhythm">
        Vertical Rhythm
      </paper-toggle-button>
      <paper-toggle-button noink
                           checked$="[[ appCache.grid.horizontal ]]"
                           on-click="_setHorizontalGrid">
        Horizontal Grid
      </paper-toggle-button>
    </dorel-layout-container>
  </template>

  <script>
    Polymer({
      is: 'dorel-component-toolbar',
      properties: {
        appCache: {
          type: Object,
          value: function () {
            return {}
          }
        },
        /**
         * @name brand
         * @description defines the brand
         */
        brand: {
          type: Object,
          notify: true,
          readOnly: false
        },
        /**
         * @name availableBrands
         * @description List of available brands
         */
        availableBrands: {
          type: Array,
          value: []
        },

        backLink: {
          type: String,
          value: function() {
            return '/' + CONFIG.LOCALE.CODE + '/component-guide/';
          }
        }
      },
      /**
       * @name _setVerticalRhythm
       * @description Toggles the vertical rhythm global variable (and it's connected overlay component)
       */
      _setVerticalRhythm: function () {
        var vertical = this.appCache.grid.vertical;
        this.fire('setAppCache', {value: !vertical, path: 'grid.vertical'});
      },
      /**
       * @name _setHorizontalGrid
       * @description Toggles the horizontal grid global variable (and it's connected overlay component)
       */
      _setHorizontalGrid: function () {
        var horizontal = this.appCache.grid.horizontal;
        this.fire('setAppCache', {value: !horizontal, path: 'grid.horizontal'});
      },
    });
  </script>
</dom-module>
