<!--
-->

<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="maxicosi-search-small">

  <template>

    <style>

    </style>

    <paper-input label="search!" type="search" placeholder="search for cats" autosave="test" results="5">
      <iron-icon icon="search" prefix></iron-icon>
    </paper-input>

  </template>

  <script>

    Polymer({
      is: 'maxicosi-search-small'
    });

  </script>

</dom-module>
